<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">轮播图名称</label>
        <div class="layui-input-block">
            <input name="name" value='{$vo.name|default=""}' required="required" pattern="^.{2,}$"
                   title="轮播图名称" placeholder="轮播图名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">轮播图</label>
        <div class='layui-input-block'>
            <img data-tips-image style="height:auto;max-height:32px;min-width:32px"
                 src="{$vo.imgurl|default='__STATIC__/theme/default/img/image.png'}"/>
            <input type="hidden" name="imgurl" onchange="$(this).prev('img').attr('src', this.value)"
                   value="{$vo.imgurl|default=''}" class="layui-input">
            <a class="btn btn-link" data-file="one" data-type="jpg,jpeg,png" data-field="imgurl">上传图片</a>
            <p>建议上传轮播图的尺寸为1920*720px。</p>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">对应网页</label>
        <div class="layui-input-block">
            <input name="web_url" value='{$vo.web_url|default=""}' title="请输入对应网页" placeholder="请输入对应网页" class="layui-input">
            <p>请输入带有http://或https://的网页</p>
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>