{extend name="extra@admin/content"}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <button data-modal='{:url("$classuri/add")}' data-title="添加课程类型" class='layui-btn layui-btn-small'>
        <i class='fa fa-plus'></i> 添加课程类型
    </button>
    <button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-small layui-btn-danger'>
        <i class='fa fa-remove'></i> 删除课程类型
    </button>
</div>
{/block}

{block name="content"}
<style type="text/css">
    .layui-table img {
        max-height: 32px;
    }
</style>
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="__SELF__" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">类型名</label>
        <div class="layui-input-inline">
            <input name="name" value="{$Think.get.name|default=''}" placeholder="请输入类型名" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <input type="hidden" value="resort" name="action"/>
    <table class="layui-table" lay-skin="line" lay-size="sm">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='text-left nowrap'>类型名</th>
            <th class='text-left nowrap'>类型主图</th>
            <th class='text-left nowrap'>主页展示</th>
            <th class='text-left nowrap'>状态</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td class='text-left nowrap'>
                {$vo.name}
            </td>
            <td class='text-left nowrap'>
                {notempty name="$vo.imgurl"}<img src="{$vo.imgurl}" alt="" data-tips-image>{/notempty}
                {empty name="$vo.imgurl"}暂无图片{/empty}
            </td>
            <td class='text-left nowrap'>
                {if $vo.is_index eq 0}
                <span style="color:#f00">否</span>
                {elseif $vo.is_index eq 1}
                <span style="color:#090">是</span>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status eq 0}
                <span style="color:#f00">已禁用</span>
                {elseif $vo.status eq 1}
                <span style="color:#090">使用中</span>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {if auth("$classuri/edit")}
                <span class="text-explode">|</span>
                <a data-modal='{:url("$classuri/edit")}?id={$vo.id}' href="javascript:void(0)">编辑</a>
                {/if}
                {if $vo.is_index eq 1 and auth("$classuri/forbid")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='is_index' data-value='0' data-action='{:url("$classuri/forbid")}'
                   href="javascript:void(0)">禁用</a>
                {elseif auth("$classuri/resume")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='is_index' data-value='1' data-action='{:url("$classuri/resume")}'
                   href="javascript:void(0)">启用</a>
                {/if}
                {if $vo.status eq 1 and auth("$classuri/forbid")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}'
                   href="javascript:void(0)">禁用</a>
                {elseif auth("$classuri/resume")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'
                   href="javascript:void(0)">启用</a>
                {/if}
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'
                   href="javascript:void(0)">删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
    {/if}
    <script>
        window.laydate.render({range: true, elem: '#range-date', format: 'yyyy/MM/dd'});
        window.form.render();
    </script>
</form>
{/block}