{extend name="extra@admin/content"}

{block name="button"}
<div class="nowrap pull-right" style="margin-top:10px">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">查询订单时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id='range-date' value="{$Think.get.create_at|default=''}" placeholder="请选择时间" class="layui-input">
        </div>
    </div>
        <a class='layui-btn layui-btn-small'><i class='fa fa-plus'></i> 导出订单数据</a>

    <button data-update data-field='delete' data-action='{:url("$classuri/del")}' class='layui-btn layui-btn-small layui-btn-danger'>
        <i class='fa fa-remove'></i> 删除订单
    </button>
</div>
{/block}

{block name="content"}
<!-- 表单搜索 开始 -->
<form class="layui-form layui-form-pane form-search" action="__SELF__" onsubmit="return false" method="get">
    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">订单号</label>
        <div class="layui-input-inline">
            <input name="tel" value="{$Think.get.tel|default=''}" placeholder="请输入手机号码" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <label class="layui-form-label">下单时间</label>
        <div class="layui-input-inline">
            <input name="create_at" id='range-dates' value="{$Think.get.create_at|default=''}"
                   placeholder="请选择下单时间" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item layui-inline">
        <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
    </div>
</form>
<!-- 表单搜索 结束 -->

<form onsubmit="return false;" data-auto="true" method="post">
    {if empty($list)}
    <p class="help-block text-center well">没 有 记 录 哦！</p>
    {else}
    <input type="hidden" value="resort" name="action"/>
    <table class="layui-table" lay-skin="line" lay-size="sm">
        <thead>
        <tr>
            <th class='list-table-check-td'>
                <input data-none-auto="" data-check-target='.list-check-box' type='checkbox'/>
            </th>
            <th class='text-left nowrap'>订单号</th>
            <th class='text-left nowrap'>购买账号</th>
            <th class='text-left nowrap'>学员姓名</th>
            <th class='text-left nowrap'>课程类型</th>
            <th class='text-left nowrap'>课程名</th>
            <th class='text-left nowrap'>下单时间</th>
            <th class='text-left nowrap'>支付时间</th>
            <th class='text-left nowrap'>订单金额</th>
            <th class='text-left nowrap'>订单状态</th>
            <th class='text-left nowrap'>状态</th>
            <th class='text-left nowrap'>操作</th>
        </tr>
        </thead>
        <tbody>
        {foreach $list as $key=>$vo}
        <tr>
            <td class='list-table-check-td'>
                <input class="list-check-box" value='{$vo.id}' type='checkbox'/>
            </td>
            <td class='text-left nowrap'>
                {$vo.order_code}
            </td>
            <td class='text-left nowrap'>
                {$vo.member_name}
            </td>
            <td class='text-left nowrap'>
                {$vo.member_real_name}
            </td>
            <td class='text-left nowrap'>
                {$vo.course_type}
            </td>
            <td class='text-left nowrap'>
                {$vo.course_name}
            </td>
            <td class='text-left nowrap'>
                {$vo.create_at}
            </td>
            <td class='text-left nowrap'>
                {$vo.finish_at}
            </td>
            <td class='text-left nowrap'>
                ￥{$vo.cost}
            </td>
            <td class='text-left nowrap'>
                {if $vo.is_finish eq 0}
                <span style="color:#f00">未支付</span>
                {elseif $vo.is_finish eq 1}
                <span style="color:#090">已支付</span>
                {elseif $vo.is_finish eq 2}
                <span style="color:#ff0">已取消</span>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status eq 0}
                <span style="color:#f00">已禁用</span>
                {elseif $vo.status eq 1}
                <span style="color:#090">使用中</span>
                {/if}
            </td>
            <td class='text-left nowrap'>
                {if $vo.status eq 1 and auth("$classuri/forbid")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='0' data-action='{:url("$classuri/forbid")}'
                   href="javascript:void(0)">禁用</a>
                {elseif auth("$classuri/resume")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='status' data-value='1' data-action='{:url("$classuri/resume")}'
                   href="javascript:void(0)">启用</a>
                {/if}
                {if auth("$classuri/del")}
                <span class="text-explode">|</span>
                <a data-update="{$vo.id}" data-field='delete' data-action='{:url("$classuri/del")}'
                   href="javascript:void(0)">删除</a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
    {if isset($page)}<p>{$page}</p>{/if}
    {/if}
    <script>
        window.laydate.render({range: true, elem: '#range-date', format: 'yyyy/MM/dd'});
        function detail(obj,id) {
            $.ajax({
                url:"{:url('order/detail')}",
                type:"post",
                data:{id:id},
                dataType: "json",
                success:function (msg) {
                    if (msg.status == 200) {
                        layer.tips(msg.msg, obj);
                    } else {
                        layer.msg(msg.msg,{anim: 6, icon: 2});
                    }
                    return false;
                }
            })
        }

       window.laydate.render({range: true, elem: '#range-dates', format: 'yyyy/MM/dd'});
    </script>
</form>
{/block}