<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/static/ueditor/ueditor.all.min.js"> </script>

<form class="layui-form layui-box" style='padding:25px 30px 20px 0' action="__SELF__" data-auto="true" method="post">

    <div class="layui-form-item">
        <label class="layui-form-label">所属学位课程</label>
        <div class="layui-input-block">
            <input value='{$vo.degree_name|default=""}' class="layui-input layui-disabled" disabled="disabled" >
            <input name="degree_id" value="{$vo.degree_id|default=''}" type="hidden">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">套餐名称</label>
        <div class="layui-input-block">
            <input name="name" value='{$vo.name|default=""}' required="required" pattern="^.{2,}$"
                   title="套餐名称" placeholder="套餐名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">套餐价格</label>
        <div class="layui-input-block">
            <input name="price" value='{$vo.price|default=""}' required="required" pattern="^.{2,}$"
                   title="套餐价格" placeholder="套餐价格" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">套餐优点</label>
        <div class="layui-input-block">
            <input type="text" value="{$vo.content|default=''}" name="content" class="layui-input"
                   placeholder="请输入8个套餐优点，每个优点请勿超过6个字，以/号隔开">
        </div>
    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        {if isset($vo['id'])}<input type='hidden' value='{$vo.id}' name='id'/>{/if}
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" type='button' data-confirm="确定要取消编辑吗？" data-close>取消编辑</button>
    </div>
    <script>window.form.render();</script>
</form>