<div data-v-2c964658="" data-v-1107b0b2="" class="issue" style="display: none;" id="issue">
    <div data-v-2c964658="" class="list"><p data-v-2c964658="">什么是LuffyX学位？</p>
        <p data-v-2c964658="">
            路飞学城LuffyX学位课程是业内优先推出“在线一对一VIP辅导”的全新教学模式的课程，通过为零基础的学员制定学习计划，提供系统性课程、一对一辅导、审阅代码、闯关式学习、答疑、推荐就业等服务，有效保障学员通过学习LuffyX学位的课程后具备独立完成项目与企业所需的技术水准。</p>
    </div>
    <div data-v-2c964658="" class="list"><p data-v-2c964658="">我是零基础小白，能够学习LuffyX学位课程吗？</p>
        <p data-v-2c964658="">可以，无论你对全栈开发有着浓厚的兴趣的小白，想成为一个优秀的全栈工程师，还是你已经是前端或者后端开发者，打算夯实基础，拓展知识
            ，增加涨薪机会，这门课程都非常适合你的，我们的课程内容深入浅出，课程涵盖个难度等级，能适应所有不同程度的需求。</p></div>
    <div data-v-2c964658="" class="list"><p data-v-2c964658="">我可以从LuffyX学位课程中获得什么？</p>
        <p data-v-2c964658="">
            1路飞学城真人出境全新为在线学习录制的X学位课程，可以让你在家随时随地都能学习到专业系统的全栈开发课程，还提供1对1导师辅导、闯关式学习、知名网红讲师亲自授课、多个互联网企业实战开发项目、完成课程后发放LuffyX学位证书，可享受推荐就业服务。</p>
    </div>
    <div data-v-2c964658="" class="list"><p data-v-2c964658="">如果作业和阶段考核不通过怎么办？</p>
        <p data-v-2c964658="">作业和阶段考核是为了督促你能扎实的掌握知识，如果作业成绩和考核不通过，会有导师进行1对1辅导，答疑，针对作业和考核出现的问题给出指导和建议。</p></div>
    <div data-v-2c964658="" class="list"><p data-v-2c964658="">请问课程的学习周期是多长呢？</p>
        <p data-v-2c964658="">我们的课程学习周期为6个月，如果你按照建议每周学习至少 8~10
            个小时，6个月时间你就可以学完十个技术模块。在课程期间我们会对课程进行科学系统的阶段性分类，以保证大家能够高质量地完成课程。</p></div>
    <div data-v-2c964658="" class="list"><p data-v-2c964658="">这个课程是在线、面授还是两者相结合的？</p>
        <p data-v-2c964658="">路飞所有的课程都是在线录播课程，线上实时的学习与导师、同学、讲师进行互动。VIP课程则可以与线下面授课程无缝互转。</p></div>
    <div data-v-2c964658="" class="list"><p data-v-2c964658="">6个月后我还能继续观看课程吗？</p>
        <p data-v-2c964658="">通过所有项目顺利毕业后，你可以反复观看课程。你可以把这当做毕业奖励！但如果超过 6
            个月你未能通过所有模块，你将不再享受的导师服务。你可能会问，如果无法在规定时间完成课程怎么办？其实不用担心，在你正式进入课程学习后，我们会有专业的导师、班主任对你的课程进行学习代码审阅、项目审核，阶段考核，还有班主任督促、学习小伙伴激励你的学习。绝大部分学生都能够在
            6 个月内完成课程。</p></div>
</div>