{extend name="public/mobile" /}

{block name='body'}
<div id="app" class="">
    <div data-v-45e9eafa="" class="signup default_app">
        <img data-v-ea25c97a="" src="/static/mobile/frontend/index/close.svg" alt="" class="close">
        <div data-v-45e9eafa="" class="cont">

            <div data-v-45e9eafa="" class="cont1">
                <p data-v-45e9eafa="" class="title">手机号快捷登录</p>
                <div data-v-45e9eafa="" class="phone-num">
                    <input data-v-45e9eafa="" type="text" placeholder="请输入手机号" id="phone" autocapitalize="off" style="text-indent: 1rem;" class=""> <!---->
                </div>
                <div data-v-45e9eafa="" class="verify_box">
                    <input data-v-45e9eafa="" type="text" placeholder="验证码" id="verify" autocapitalize="off">
                    <button data-v-45e9eafa="" id="getVerify" class="get_verify">获取验证码</button>
                </div>
                <button data-v-45e9eafa="" disabled="disabled" class="">登录</button>
                <p data-v-45e9eafa="" class="gologin">账号密码登录</p>
            </div>
            <p data-v-45e9eafa="" class="foot">
                登录代表您已阅读并同意
                <span data-v-45e9eafa="">《用户协议》</span>
            </p>
        </div>
    </div> <!---->
</div>
{/block}
{block name="js"}

{/block}