<div class="z-foot">
    <div data-v-405c5cfb="" class="nav">
        <ul data-v-405c5cfb="">
            <li data-v-405c5cfb="">
                <a data-v-405c5cfb="" href="{:url('index/index')}" class="{eq name='nav' value='1'}router-link-exact-active active{/eq}">
                    {eq name='nav' value='1'}
                    <img data-v-405c5cfb="" src="/static/mobile/frontend/comment/home2.svg" alt="" class="home">
                    {/eq}
                    {neq name='nav' value='1'}
                    <img data-v-405c5cfb="" src="/static/mobile/frontend/comment/home1.svg" alt="" class="home">
                    {/neq}
                    <p data-v-405c5cfb="">首页</p>
                </a>
            </li>
            <li data-v-405c5cfb="">
                <a data-v-405c5cfb="" href="{:url('course/index')}" class="{eq name='nav' value='2'}router-link-exact-active active{/eq}">
                    {eq name='nav' value='2'}
                    <img data-v-405c5cfb="" src="/static/mobile/frontend/comment/course2.svg" alt="" class="home">
                    {/eq}
                    {neq name='nav' value='2'}
                    <img data-v-405c5cfb="" src="/static/mobile/frontend/comment/course1.svg" alt="" class="home">
                    {/neq}
                    <p data-v-405c5cfb="">课程</p>
                </a>
            </li>
            <li data-v-405c5cfb="">
                <a data-v-405c5cfb="" href="{:url('study/index')}" class="{eq name='nav' value='3'}router-link-exact-active active{/eq}">
                    {eq name='nav' value='3'}
                    <img data-v-405c5cfb="" src="/static/mobile/frontend/comment/study2.svg" alt="" class="home">
                    {/eq}
                    {neq name='nav' value='3'}
                    <img data-v-405c5cfb="" src="/static/mobile/frontend/comment/study1.svg" alt="" class="home">
                    {/neq}
                    <p data-v-405c5cfb="">学习中心</p>
                </a>
            </li>
            <li data-v-405c5cfb="">
                <a data-v-405c5cfb="" href="{:url('mycenter/index')}" class="{eq name='nav' value='4'}router-link-exact-active active{/eq}">
                    {eq name='nav' value='4'}
                    <img data-v-405c5cfb="" src="/static/mobile/frontend/comment/my2.svg" alt="" class="home">
                    {/eq}
                    {neq name='nav' value='4'}
                    <img data-v-405c5cfb="" src="/static/mobile/frontend/comment/my1.svg" alt="" class="home">
                    {/neq}
                    <p data-v-405c5cfb="">我的</p>
                </a>
            </li>
        </ul>
    </div>
</div>