<!DOCTYPE html>
<html data-dpr="1" style="font-size: 113.333px;">
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no,minimal-ui">
    <meta name="full-screen" content="yes">
    <meta name="x5-page-mode" content="h5">
    <meta name="x5-fullscreen" content="true">
    <meta name="360-fullscreen" content="true">
    <meta name="x5-orientation" content="portrait">
    <meta name="browsermode" content="application">
    <meta name="screen-orientation" content="portrait">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="shortcut icon" href="/static/index/static/frontend/url_logo.png">
    <!--<link rel="stylesheet" href="//g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css">-->
    <!--<script src="https://hm.baidu.com/hm.js?6d471c327f3fe2d157e8f07ccdf80a20"></script>-->
    <script src="/static/index/plugins/jquery-2.1.4.js"></script>
    <link href="/static/mobile/css/app.css" rel="stylesheet">
    <style type="text/css"></style>
    <link rel="stylesheet" href="/static/mobile/swiper/css/swiper.min.css">
    <script src="/static/mobile/swiper/js/swiper.js"></script>

    <link rel="stylesheet" href="__STATIC__/index/layui/css/layui.css"/>
    <script type="text/javascript" src="__STATIC__/index/layui/layui.all.js"></script>
    <script type="text/javascript" src="__STATIC__/index/layui/layui.js"></script>
</head>
<!--
<body style="height: 859px; font-size: 12px;">
<div style="height: 100%;">
-->
<body style="">
<div style="height: 100%;">
    {block name="body"}{/block}
</div>

<!--<script src="https://player.polyv.net/script/polyvplayer.min.js"></script>-->
<!--<script type="text/javascript" src="//g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>-->
<script src="/static/mobile/js/videoplay.js"></script>
<script src="/static/mobile/js/flexible.js"></script>
<script src="/static/mobile/js/jweixin-1.2.0.js"></script>

<script src="/static/mobile/js/aliplayer-hls-min.js"></script>
<script src="/static/mobile/js/polyvplayer.min.js"></script>
<script src="/static/mobile/js/aliplayer-min.js"></script>
<link rel="stylesheet" href="/static/mobile/js/aliplayer-min.css">

<script type="text/javascript" src="/static/mobile/js/manifest.js"></script>
<!--<script type="text/javascript" src="/static/mobile/js/vendor.js"></script>-->
<script type="text/javascript" src="/static/mobile/js/app.js"></script>
{block name="js"}{/block}
</body>
</html>