{extend name="public/mobile" /}

{block name='body'}
<div id="app" class="">
    <div data-v-f03c724a="" class="change-phone default_app">
        <img data-v-f03c724a="" src="/static/mobile/frontend/study/back.svg" alt="" class="close" onclick="javascript:history.go(-1)">
        <div data-v-f03c724a="" class="reg_box">
            <div data-v-f03c724a="" class="vux-toast">
                <div class="weui-mask_transparent" style="display: none;"></div>
                <div class="weui-toast weui-toast_success" style="width: 2rem; display: none;"><i
                        class="weui-icon-success-no-circle weui-icon_toast"></i>
                    <p class="weui-toast__content">更改成功</p></div>
            </div>
            <div data-v-f03c724a="" class="vux-toast toast">
                <div class="weui-mask_transparent" style="display: none;"></div>
                <div class="weui-toast weui-toast_text vux-toast-middle" style="width: 2.4rem; display: none;"><i
                        class="weui-icon-success-no-circle weui-icon_toast" style="display: none;"></i>
                    <p class="weui-toast__content"></p></div>
            </div>
            <div data-v-f03c724a="" class="zi">更改绑定手机</div>
            <div data-v-f03c724a="">
                <div data-v-f03c724a="" class="inp-cont">
                    <div data-v-f03c724a="" class="phone-num">
                        <select data-v-f03c724a="" name="" id="">
                        <option data-v-f03c724a="" selected="selected" value="86">86+</option>
                        <option data-v-f03c724a="" value="86">中国大陆(+86)</option>
                        <option data-v-f03c724a="" value="886">中国台湾(+886)</option>
                        <option data-v-f03c724a="" value="852">中国香港(+852)</option>
                        <option data-v-f03c724a="" value="853">中国澳门(+853)</option>
                        <option data-v-f03c724a="" value="60">马来西亚(+60)</option>
                        <option data-v-f03c724a="" value="65">新加坡(+65)</option>
                        <option data-v-f03c724a="" value="81">日本(+81)</option>
                        <option data-v-f03c724a="" value="82">韩国(+82)</option>
                        <option data-v-f03c724a="" value="1">美国(+1)</option>
                        <option data-v-f03c724a="" value="1">加拿大(+1)</option>
                        <option data-v-f03c724a="" value="61">澳大利亚(+61)</option>
                        <option data-v-f03c724a="" value="64">新西兰(+64)</option>
                        <option data-v-f03c724a="" value="355">阿尔巴尼亚(+355)</option>
                        <option data-v-f03c724a="" value="54">阿根廷(+54)</option>
                        <option data-v-f03c724a="" value="971">阿联酋(+971)</option>
                        <option data-v-f03c724a="" value="968">阿曼(+968)</option>
                        <option data-v-f03c724a="" value="994">阿塞拜疆(+994)</option>
                        <option data-v-f03c724a="" value="353">爱尔兰(+353)</option>
                        <option data-v-f03c724a="" value="20">埃及(+20)</option>
                        <option data-v-f03c724a="" value="372">爱沙尼亚(+372)</option>
                        <option data-v-f03c724a="" value="244">安哥拉(+244)</option>
                        <option data-v-f03c724a="" value="43">奥地利(+43)</option>
                        <option data-v-f03c724a="" value="675">巴布亚新几内亚(+675)</option>
                        <option data-v-f03c724a="" value="1242">巴哈马(+1242)</option>
                        <option data-v-f03c724a="" value="970">巴勒斯坦(+970)</option>
                        <option data-v-f03c724a="" value="973">巴林(+973)</option>
                        <option data-v-f03c724a="" value="507">巴拿马(+507)</option>
                        <option data-v-f03c724a="" value="55">巴西(+55)</option>
                        <option data-v-f03c724a="" value="375">白俄罗斯(+375)</option>
                        <option data-v-f03c724a="" value="359">保加利亚(+359)</option>
                        <option data-v-f03c724a="" value="229">贝宁(+229)</option>
                        <option data-v-f03c724a="" value="32">比利时(+32)</option>
                        <option data-v-f03c724a="" value="51">秘鲁(+51)</option>
                        <option data-v-f03c724a="" value="48">波兰(+48)</option>
                        <option data-v-f03c724a="" value="591">玻利维亚(+591)</option>
                        <option data-v-f03c724a="" value="501">伯利兹(+501)</option>
                        <option data-v-f03c724a="" value="226">布基纳法索(+226)</option>
                        <option data-v-f03c724a="" value="240">赤道几内亚(+240)</option>
                        <option data-v-f03c724a="" value="45">丹麦(+45)</option>
                        <option data-v-f03c724a="" value="49">德国(+49)</option>
                        <option data-v-f03c724a="" value="228">多哥(+228)</option>
                        <option data-v-f03c724a="" value="7">俄罗斯(+7)</option>
                        <option data-v-f03c724a="" value="33">法国(+33)</option>
                        <option data-v-f03c724a="" value="63">菲律宾(+63)</option>
                        <option data-v-f03c724a="" value="358">芬兰(+358)</option>
                        <option data-v-f03c724a="" value="238">佛得角(+238)</option>
                        <option data-v-f03c724a="" value="220">冈比亚(+220)</option>
                        <option data-v-f03c724a="" value="1473">格林纳达(+1473)</option>
                        <option data-v-f03c724a="" value="995">格鲁吉亚(+995)</option>
                        <option data-v-f03c724a="" value="57">哥伦比亚(+57)</option>
                        <option data-v-f03c724a="" value="506">哥斯达黎加(+506)</option>
                        <option data-v-f03c724a="" value="592">圭亚那(+592)</option>
                        <option data-v-f03c724a="" value="31">荷兰(+31)</option>
                        <option data-v-f03c724a="" value="504">洪都拉斯(+504)</option>
                        <option data-v-f03c724a="" value="253">吉布提(+253)</option>
                        <option data-v-f03c724a="" value="996">吉尔吉斯斯坦(+996)</option>
                        <option data-v-f03c724a="" value="224">几内亚(+224)</option>
                        <option data-v-f03c724a="" value="245">几内亚比绍(+245)</option>
                        <option data-v-f03c724a="" value="241">加蓬(+241)</option>
                        <option data-v-f03c724a="" value="855">柬埔寨(+855)</option>
                        <option data-v-f03c724a="" value="263">津巴布韦(+263)</option>
                        <option data-v-f03c724a="" value="237">喀麦隆(+237)</option>
                        <option data-v-f03c724a="" value="974">卡塔尔(+974)</option>
                        <option data-v-f03c724a="" value="1345">开曼群岛(+1345)</option>
                        <option data-v-f03c724a="" value="385">克罗地亚(+385)</option>
                        <option data-v-f03c724a="" value="269">科摩罗(+269)</option>
                        <option data-v-f03c724a="" value="965">科威特(+965)</option>
                        <option data-v-f03c724a="" value="254">肯尼亚(+254)</option>
                        <option data-v-f03c724a="" value="371">拉脱维亚(+371)</option>
                        <option data-v-f03c724a="" value="266">莱索托(+266)</option>
                        <option data-v-f03c724a="" value="370">立陶宛(+370)</option>
                        <option data-v-f03c724a="" value="352">卢森堡(+352)</option>
                        <option data-v-f03c724a="" value="250">卢旺达(+250)</option>
                        <option data-v-f03c724a="" value="40">罗马尼亚(+40)</option>
                        <option data-v-f03c724a="" value="261">马达加斯加(+261)</option>
                        <option data-v-f03c724a="" value="960">马尔代夫(+960)</option>
                        <option data-v-f03c724a="" value="265">马拉维(+265)</option>
                        <option data-v-f03c724a="" value="223">马里(+223)</option>
                        <option data-v-f03c724a="" value="230">毛里求斯(+230)</option>
                        <option data-v-f03c724a="" value="222">毛里塔尼亚(+222)</option>
                        <option data-v-f03c724a="" value="976">蒙古(+976)</option>
                        <option data-v-f03c724a="" value="373">摩尔多瓦(+373)</option>
                        <option data-v-f03c724a="" value="212">摩洛哥(+212)</option>
                        <option data-v-f03c724a="" value="258">莫桑比克(+258)</option>
                        <option data-v-f03c724a="" value="52">墨西哥(+52)</option>
                        <option data-v-f03c724a="" value="264">纳米比亚(+264)</option>
                        <option data-v-f03c724a="" value="27">南非(+27)</option>
                        <option data-v-f03c724a="" value="505">尼加拉瓜(+505)</option>
                        <option data-v-f03c724a="" value="227">尼日尔(+227)</option>
                        <option data-v-f03c724a="" value="234">尼日利亚(+234)</option>
                        <option data-v-f03c724a="" value="47">挪威(+47)</option>
                        <option data-v-f03c724a="" value="351">葡萄牙(+351)</option>
                        <option data-v-f03c724a="" value="46">瑞典(+46)</option>
                        <option data-v-f03c724a="" value="41">瑞士(+41)</option>
                        <option data-v-f03c724a="" value="503">萨尔瓦多(+503)</option>
                        <option data-v-f03c724a="" value="381">塞尔维亚(+381)</option>
                        <option data-v-f03c724a="" value="232">塞拉利昂(+232)</option>
                        <option data-v-f03c724a="" value="221">塞内加尔(+221)</option>
                        <option data-v-f03c724a="" value="357">塞浦路斯(+357)</option>
                        <option data-v-f03c724a="" value="248">塞舌尔(+248)</option>
                        <option data-v-f03c724a="" value="966">沙特阿拉伯(+966)</option>
                        <option data-v-f03c724a="" value="94">斯里兰卡(+94)</option>
                        <option data-v-f03c724a="" value="421">斯洛伐克(+421)</option>
                        <option data-v-f03c724a="" value="386">斯洛文尼亚(+386)</option>
                        <option data-v-f03c724a="" value="268">斯威士兰(+268)</option>
                        <option data-v-f03c724a="" value="597">苏里南(+597)</option>
                        <option data-v-f03c724a="" value="992">塔吉克斯坦(+992)</option>
                        <option data-v-f03c724a="" value="66">泰国(+66)</option>
                        <option data-v-f03c724a="" value="255">坦桑尼亚(+255)</option>
                        <option data-v-f03c724a="" value="1868">特立尼达和多巴哥(+1868)</option>
                        <option data-v-f03c724a="" value="90">土耳其(+90)</option>
                        <option data-v-f03c724a="" value="993">土库曼斯坦(+993)</option>
                        <option data-v-f03c724a="" value="216">突尼斯(+216)</option>
                        <option data-v-f03c724a="" value="502">危地马拉(+502)</option>
                        <option data-v-f03c724a="" value="58">委内瑞拉(+58)</option>
                        <option data-v-f03c724a="" value="673">文莱(+673)</option>
                        <option data-v-f03c724a="" value="256">乌干达(+256)</option>
                        <option data-v-f03c724a="" value="380">乌克兰(+380)</option>
                        <option data-v-f03c724a="" value="598">乌拉圭(+598)</option>
                        <option data-v-f03c724a="" value="998">乌兹别克斯坦(+998)</option>
                        <option data-v-f03c724a="" value="34">西班牙(+34)</option>
                        <option data-v-f03c724a="" value="30">希腊(+30)</option>
                        <option data-v-f03c724a="" value="36">匈牙利(+36)</option>
                        <option data-v-f03c724a="" value="1876">牙买加(+1876)</option>
                        <option data-v-f03c724a="" value="967">也门(+967)</option>
                        <option data-v-f03c724a="" value="39">意大利(+39)</option>
                        <option data-v-f03c724a="" value="972">以色列(+972)</option>
                        <option data-v-f03c724a="" value="91">印度(+91)</option>
                        <option data-v-f03c724a="" value="62">印度尼西亚(+62)</option>
                        <option data-v-f03c724a="" value="44">英国(+44)</option>
                        <option data-v-f03c724a="" value="1284">英属维尔京群岛(+1284)</option>
                        <option data-v-f03c724a="" value="962">约旦(+962)</option>
                        <option data-v-f03c724a="" value="84">越南(+84)</option>
                        <option data-v-f03c724a="" value="260">赞比亚(+260)</option>
                        <option data-v-f03c724a="" value="235">乍得(+235)</option>
                        <option data-v-f03c724a="" value="56">智利(+56)</option>
                    </select>
                        <img data-v-f03c724a="" src="/static/mobile/frontend/course/drop-down.svg" alt="" class="down">
                        <input data-v-f03c724a="" type="text" placeholder="请输入更换的手机号" id="phone"  name="phone" autocapitalize="off"  style="text-indent: 1rem;">
                        <img data-v-f03c724a="" src="/static/mobile/frontend/study/delete.svg" alt="" class="delete">
                    </div>
                    <div data-v-f03c724a="" class="verify_box">
                        <input data-v-f03c724a="" type="text" placeholder="验证码" name="verify" id="verify" autocapitalize="off">
                        <button data-v-f03c724a="" id="getVerify" class="get_verify geting" onclick="go_verify()" >获取验证码</button>
                    </div>
                    <button data-v-f03c724a="" disabled="disabled" class="" id="submits" onclick="go_change_phone()">确定</button> <!---->
                </div>
            </div>
        </div>
    </div> <!---->
</div>
{/block}
{block name="js"}
<script>
    //登陆按钮
    $('#verify').keyup(function (e) {
        $("#submits").removeAttr('disabled');
        $("#submits").addClass('change');
        if (e.keyCode == 13) {
            next();
        }
    });

    function go_verify(){
        var sec = 60;
        var intervalQueue;
        var tel = $("input[name='phone']").val();
        if (tel == '' || tel==undefined) {
            layer.tips('请输入手机号！', '#phone',{tips:[1,'#3595CC'],time: 4000});
            return false;
        }
        reg = /^0?1[3|4|5|6|7|8][0-9]\d{8}$/;
        if (!reg.test(tel)) {
            layer.tips('请输入正确的手机号码', '#phone',{tips:[1,'#3595CC'],time: 4000});
            return false;
        }

        $("#getverify").removeAttr('onclick');
        $("#getverify").addClass('get_verify_disable');
        $("#getverify").text('请等待' + sec + '秒');

        $.ajax({
            url: "{:url('mobile/safe/sendsms')}",
            type: 'post',
            data: {'tel':tel},
            dataType: 'json',
            success: function (msg) {
                console.log(msg);
                if (msg.status == 200) {
                    layer.msg(msg.msg, {icon: 1});
                    return false;
                } else {
                    layer.msg(msg.msg, {anim: 6, icon: 2});
                    clearInterval(intervalQueue);
                    $("#getverify").text("获取验证码");
                    $("#getverify").removeClass('get_verify_disable');
                    $("#getverify").attr('onclick', 'go_verify()');
                    // captchaObj.reset();
                    return false;
                }
            }
        });
        intervalQueue = setInterval(function () {
            sec--;
            $("#getverify").text('请等待' + sec + '秒');
            if (sec <= 0) {
                clearInterval(intervalQueue);
                $("#getverify").text("获取验证码");
                $("#getverify").removeClass('get_verify_disable');
                $("#getverify").attr('onclick', 'getCodeAfter()');
            }
        }, 1000);
}


    function go_change_phone(){
        var phone = $("input[name='phone']").val();
        var code = $("input[name='verify']").val();
        if (code == '') {
            layer.tips('请输入验证码!', '#verify');
            return false;
        }
        $.ajax({
            url: "{:url('mobile/safe/change')}",
            type: 'post',
            data: {phone: phone, code: code},
            dataType: 'json',
            success: function (msg) {
                if (msg.status == 200) {
                    layer.msg(msg.msg, {icon: 1,time: 4000});
                    window.location.href="{:url('mobile/mycenter/index')}";
                } else {
                    layer.msg(msg.msg, {anim: 6, icon: 2});
                }
                return false;
            }
        });
        return false;


    }



</script>
{/block}