.question_box[_v-56bec03e] {
    width: 100%;
    height: auto;
    background: #f7f7f7
}

.question_box .head_count[_v-56bec03e] {
    width: 100%;
    height: auto;
    background: url(../frontend/ai_banner.jpg) no-repeat;
    background-size: 100% 100%
}

.question_box .head_count .top_cont[_v-56bec03e] {
    width: 12rem;
    height: auto;
    margin: 0 auto;
    color: #fff;
    padding-top: .8rem;
    padding-bottom: .64rem
}

.question_box .head_count .top_cont .top_cont1[_v-56bec03e] {
    margin-bottom: 1rem;
    overflow: hidden
}

.question_box .head_count .top_cont .top_cont1 .user_info[_v-56bec03e] {
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    float: left
}

.question_box .head_count .top_cont .top_cont1 .user_info img[_v-56bec03e] {
    width: 1.33rem;
    height: 1.33rem;
    border-radius: 100%;
    margin-right: .25rem
}

.question_box .head_count .top_cont .top_cont1 .user_info .name[_v-56bec03e] {
    font-size: .3rem;
    margin-bottom: .2rem
}

.question_box .head_count .top_cont .top_cont1 .user_info .ranking[_v-56bec03e] {
    font-size: .18rem
}

.question_box .head_count .top_cont .top_cont1 .more_choice[_v-56bec03e] {
    width: auto;
    height: auto;
    font-size: .16rem;
    color: #e9e9e9;
    text-align: right;
    padding-top: .3rem;
    float: right
}

.question_box .head_count .top_cont .top_cont1 .more_choice .switch_cls[_v-56bec03e] {
    padding-right: .15rem;
    font-size: .18rem;
    color: #fff
}

.question_box .head_count .top_cont .top_cont1 .more_choice span[_v-56bec03e] {
    cursor: pointer;
    display: inline-block;
    margin-right: .2rem;
    margin-bottom: .2rem;
    border-radius: .3rem;
    padding: .03rem .12rem;
    border: 1px solid #e9e9e9
}

.question_box .head_count .top_cont .top_cont1 .more_choice .choose[_v-56bec03e] {
    color: #fff;
    border: 2px solid #fff
}

.question_box .head_count .top_cont .top_cont1 .more_choice span[_v-56bec03e]:last-child {
    margin-right: 0
}

.question_box .head_count .top_cont .top_cont2[_v-56bec03e] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.question_box .head_count .top_cont .top_cont2 .Chart_Box[_v-56bec03e] {
    width: 2rem;
    height: 2rem;
    margin-left: -.3rem;
    position: relative
}

.question_box .head_count .top_cont .top_cont2 .Chart_Box .myChart[_v-56bec03e] {
    width: 2rem !important;
    height: 2rem !important
}

.question_box .head_count .top_cont .top_cont2 .Chart_Box .num[_v-56bec03e] {
    width: 1.8rem;
    height: 1.8rem;
    margin-top: .46rem;
    margin-left: -.9rem;
    text-align: center;
    font-size: 10px;
    position: absolute;
    left: 50%;
    top: 0
}

.question_box .head_count .top_cont .top_cont2 .Chart_Box .num > span[_v-56bec03e]:first-of-type {
    font-size: .4rem
}

.question_box .head_count .top_cont .top_cont2 .data_item[_v-56bec03e] {
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: .3rem
}

.question_box .head_count .top_cont .top_cont2 .data_item div[_v-56bec03e] {
    width: 1.51rem;
    height: 1.43rem;
    background: hsla(0, 0%, 100%, .25);
    margin-right: .2rem
}

.question_box .head_count .top_cont .top_cont2 .data_item div p[_v-56bec03e] {
    margin-top: .28rem
}

.question_box .head_count .top_cont .top_cont2 .data_item div p b[_v-56bec03e] {
    display: block;
    font-size: .4rem;
    font-weight: 400;
    margin-bottom: .05rem
}

.question_box .head_count .top_cont .top_cont2 .data_item div p span[_v-56bec03e] {
    font-size: .12rem
}

.question_box .head_count .top_cont .top_cont2 .data_item div[_v-56bec03e]:last-child {
    margin-right: 0
}

.question_box .main[_v-56bec03e] {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.question_box .main header[_v-56bec03e] {
    text-align: center;
    font-size: .36rem;
    color: #4a4a4a;
    margin-bottom: .6rem
}

.question_box .main header p[_v-56bec03e] {
    font-size: .18rem;
    margin-bottom: .04rem
}

.question_box .main .loading[_v-56bec03e] {
    text-align: center;
    padding: .4rem 0
}

.question_box .main .loading img[_v-56bec03e] {
    width: .5rem;
    height: .5rem
}

.question_box .main main[_v-56bec03e] {
    width: 12rem;
    margin: 0 auto;
    overflow: hidden
}

.question_box .main main .mask_box[_v-56bec03e]:hover {
    box-shadow: 0 2px 4px 0 #e9e9e9, 0 4px 16px 0 #e9e9e9, 0 4px 16px 0 #d0d0d0
}

.question_box .main main .mask_box:hover .ovrly[_v-56bec03e] {
    top: 0
}

.question_box .main main .mask_box .ovrly[_v-56bec03e] {
    transition: all .5s
}

.question_box .main main .mask_box[_v-56bec03e] {
    width: 3.5rem;
    height: 3.7rem;
    background: #fff;
    margin-top: .1rem;
    margin-bottom: .5rem;
    margin-right: .3rem;
    border-radius: 2px;
    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
    position: relative
}

.question_box .main main .mask_box .imgbac[_v-56bec03e] {
    width: .85rem;
    height: .85rem;
    border-radius: 100%;
    background: #56cbc4;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: .62rem
}

.question_box .main main .mask_box .imgbac img[_v-56bec03e] {
    width: 40%;
    height: auto
}

.question_box .main main .mask_box .forthcoming[_v-56bec03e] {
    background: #909cb7
}

.question_box .main main .mask_box p[_v-56bec03e]:first-of-type {
    font-size: .18rem;
    color: #4a4a4a;
    padding-top: .3rem;
    padding-bottom: .18rem
}

.question_box .main main .mask_box p[_v-56bec03e]:nth-of-type(2) {
    font-size: .16rem;
    color: #5d6870
}

.question_box .main main .mask_box p[_v-56bec03e]:first-of-type:hover {
    color: #56cbc4
}

.question_box .main main .mask_box[_v-56bec03e]:first-of-type, .question_box .main main .mask_box[_v-56bec03e]:nth-of-type(4) {
    margin-left: .3rem
}

.question_box .main main .hoverp[_v-56bec03e] {
    padding: 0 .3rem;
    box-sizing: border-box
}

.question_box .maskbox[_v-56bec03e] {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    left: 0;
    top: 0
}

.question_box .maskbox .box[_v-56bec03e] {
    width: 4.8rem;
    height: auto;
    background: #fff;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -2.4rem;
    margin-top: -1rem;
    color: #666;
    padding: .5rem;
    box-sizing: border-box;
    animation: x0ppop .45s ease
}

.question_box .maskbox .box img[_v-56bec03e] {
    width: .24rem;
    height: .24rem;
    margin-right: .16rem
}

.question_box .maskbox .box .p1[_v-56bec03e] {
    font-size: .2rem;
    font-family: PingFangSC-Medium;
    padding-bottom: .1rem
}

.question_box .maskbox .box .p2[_v-56bec03e], .question_box .maskbox .box .p3[_v-56bec03e] {
    font-size: .18rem;
    margin-left: .4rem;
    margin-bottom: .1rem
}

.question_box .maskbox .box button[_v-56bec03e] {
    width: 1rem;
    height: .34rem;
    border: 1px solid #979797;
    border-radius: .03rem;
    text-align: center;
    line-height: .34rem;
    font-size: .14rem;
    color: #5e5e5e;
    margin-left: .66rem;
    margin-top: .25rem
}

.question_box .maskbox .box button[_v-56bec03e]:nth-of-type(2) {
    margin-left: .16rem
}

.question_box .maskbox .closes[_v-56bec03e] {
    width: .24rem;
    height: .24rem;
    position: absolute;
    right: 6.9rem;
    top: 50%;
    margin-top: -1.3rem;
    cursor: pointer
}

@keyframes x0ppop {
    0% {
        transform: scale(.9);
        opacity: .3
    }
    50% {
        transform: scale(1.1);
        opacity: .7
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}

.mask[_v-6a476c12] {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
    box-shadow: 0 2px 4px 0 #e9e9e9, 0 4px 16px 0 #e9e9e9;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 100%;
    text-align: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column
}

.mask .ChartBox[_v-6a476c12] {
    width: 1.4rem;
    height: 1.4rem;
    margin-top: .67rem;
    margin-left: -.7rem;
    position: absolute;
    left: 50%;
    top: 0
}

.mask .ChartBox .myChart3 canvas[_v-6a476c12], .mask .ChartBox .myChart3 div[_v-6a476c12], .mask .ChartBox .myChart3[_v-6a476c12] {
    width: 1.4rem !important;
    height: 1.4rem !important
}

.mask p[_v-6a476c12]:first-of-type {
    font-size: .3rem;
    color: #fff;
    position: absolute;
    top: 1.2rem
}

.mask .Btns[_v-6a476c12] {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    /*-ms-flex-pack: distribute;*/
    justify-content: space-around;
    font-size: 14px;
    color: #fff;
    padding: 0 6px;
    margin-top: .66rem;
    position: absolute;
    left: 0;
    bottom: .7rem
}

.mask .Btns button[_v-6a476c12] {
    width: 100px;
    height: 34px;
    line-height: 34px
}

.mask .Btns .Check_the_record[_v-6a476c12] {
    background-image: linear-gradient(-180deg, #56cbc4, #59d3cc 55%, #56cbc4)
}

.mask .Btns .Continue_to_test[_v-6a476c12] {
    border: 1px solid #979797;
    background: transparent
}

.MEIQIA-ICON {
    background-size: 64px auto !important;
    background-repeat: no-repeat !important;
    background-image: url('https://static.meiqia.com/dist/images/icon-mq-round.png?v=s05dw1rycgr') !important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    .MEIQIA-ICON {
        background-image: url('https://static.meiqia.com/dist/images/icon-mq-round@2x.png?v=s05dw1rycgr') !important;
    }
}

.MEIQIA-ICON-CHAT1 {
    background-position: 0 0 !important;
}

.MEIQIA-ICON-CHAT2 {
    background-position: 0 -32px !important;
}

.MEIQIA-ICON-CHAT3 {
    background-position: 0 -64px !important;
}

.MEIQIA-ICON-CHAT4 {
    background-position: 0 -96px !important;
}

.MEIQIA-ICON-CHAT5 {
    background-position: 0 -128px !important;
}

.MEIQIA-ICON-CHAT6 {
    background-position: 0 -160px !important;
}

.MEIQIA-ICON-CHAT7 {
    background-position: 0 -224px !important;
}

.MEIQIA-ICON-CHAT8 {
    background-position: 0 -256px !important;
}

.MEIQIA-ICON-CHAT9 {
    background-position: 0 -288px !important;
}

.MEIQIA-ICON-CHAT10 {
    background-position: 0 -320px !important;
}

.MEIQIA-ICON-CHAT11 {
    background-position: 0 -352px !important;
}

.MEIQIA-ICON-CHAT12 {
    background-position: 0 -384px !important;
}

.MEIQIA-ICON-TICKET1 {
    background-position: -32px 0 !important;
}

.MEIQIA-ICON-TICKET2 {
    background-position: -32px -32px !important;
}

.MEIQIA-ICON-TICKET3 {
    background-position: -32px -64px !important;
}

.MEIQIA-ICON-TICKET4 {
    background-position: -32px -96px !important;
}

.MEIQIA-ICON-TICKET5 {
    background-position: -32px -128px !important;
}

.MEIQIA-ICON-TICKET6 {
    background-position: -32px -160px !important;
}

.MEIQIA-ICON-TICKET7 {
    background-position: -32px -224px !important;
}

.MEIQIA-ICON-TICKET8 {
    background-position: -32px -256px !important;
}

.MEIQIA-ICON-TICKET9 {
    background-position: -32px -288px !important;
}

.MEIQIA-ICON-TICKET10 {
    background-position: -32px -320px !important;
}

.MEIQIA-ICON-TICKET11 {
    background-position: -32px -352px !important;
}

.MEIQIA-ICON-TICKET12 {
    background-position: -32px -384px !important;
}

.MEIQIA-ICON-CALL {
    background-position: -32px -448px !important;
}

#MEIQIA-PANEL-HOLDER {
    position: fixed;
    bottom: 0;
    left: 15px;
    z-index: -1;
    width: 320px;
    height: 480px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    visibility: hidden;
    background-color: transparent;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .15);
    border: 1px solid #eee \0;
    *border: 1px solid #eee;
}

#MEIQIA-IFRAME {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100% !important;
    height: 100% !important;
    border: 0;
    padding: 0;
    margin: 0;
    float: none;
    background: none;
}

#MEIQIA-BTN-HOLDER {
    display: none;
    position: fixed;
    bottom: 10px;
    left: 12px;
    z-index: 2147483647;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif;
    background-color: transparent;
}

#MEIQIA-BTN, #MEIQIA-BTN span, #MEIQIA-BTN div, #MEIQIA-BTN img {
    float: none;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}

#MEIQIA-BTN {
    display: block;
    width: 60px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 31px;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .16);
    cursor: pointer;
    text-decoration: none;
    background-color: #15ddc2;
}

#MEIQIA-BTN #MEIQIA-BTN-ICON {
    position: absolute;
    top: 15px;
    left: 15px;
    width: 32px;
    height: 32px;
}

#MEIQIA-BTN #MEIQIA-CIRCLE {
    position: absolute;
    display: none;
    width: 26px;
    height: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
    background-color: #ff3b30;
}

#MEIQIA-BTN #MEIQIA-BUBBLE {
    position: absolute;
    top: 50%;
    display: none;
    width: 260px;
    margin-top: -48px;
    border: 1px solid #f7f7f7;
    border-radius: 4px;
    color: #000;
    text-align: left;
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .16);
    line-height: 1.428571429;
    background-color: #fff;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-ARROW1 {
    position: absolute;
    z-index: 2;
    font-size: 0;
    line-height: 0;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-ARROW2 {
    position: absolute;
    z-index: 1;
    font-size: 0;
    line-height: 0;
}

#MEIQIA-BTN #MEIQIA-CIRCLE {
    top: -10px;
    right: -10px;
}

#MEIQIA-BTN #MEIQIA-BUBBLE {
    left: 74px;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-ARROW1 {
    left: -8px;
    top: 42px;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-right: 8px solid #fff;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-ARROW2 {
    left: -10px;
    top: 43px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 9px solid #f7f7f7;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-CLOSE {
    position: absolute;
    display: none;
    top: 12px;
    right: 12px;
    width: 10px;
    height: 10px;
    background-position: -5px -245px;
    cursor: pointer;
}

#MEIQIA-BTN #MEIQIA-BUBBLE:hover #MEIQIA-BUBBLE-CLOSE {
    display: block;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-INSIDE {
    margin: 12px 18px;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-AVATAR {
    width: 26px;
    height: 26px;
    border-radius: 13px;
    margin-right: 6px;
    vertical-align: top;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .15);
}

#MEIQIA-BTN #MEIQIA-BUBBLE-NAME {
    display: inline-block;
    margin-top: 3px;
    font-size: 16px;
    color: #000;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-MSG {
    height: 40px;
    margin-top: 5px;
    font-size: 14px;
    overflow: hidden;
    color: #000;
}

#MEIQIA-BTN #MEIQIA-BUBBLE-MSG img {
    width: 16px;
    height: 16px;
}

#MEIQIA-INVITE, #MEIQIA-INVITE div, #MEIQIA-INVITE span {
    float: none;
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    background: none;
}

#MEIQIA-INVITE {
    background-size: 318px auto;
    background-repeat: no-repeat;
    background-image: url("https://static.meiqia.com/dist/images/invite-bgi-3.png?v=s05dw1rycgr");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
    #MEIQIA-INVITE {
        background-image: url("https://static.meiqia.com/dist/images/invite-bgi-3@2x.png?v=s05dw1rycgr");
    }
}

#MEIQIA-INVITE {
    position: fixed;
    margin: 0;
    bottom: 0px;
    right: 0px;
    z-index: 2147483647;
    display: none;
    width: 318px;
    height: 156px;
    text-align: left;
    cursor: pointer;
    line-height: 1.428571429;
}

#MEIQIA-INVITE #MEIQIA-INVITE-CLOSE {
    position: absolute;
    top: -3px;
    right: -3px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-position: -12px -492px;
}

#MEIQIA-INVITE #MEIQIA-INVITE-CLOSE:hover {
    background-position: -12px -556px;
}

#MEIQIA-INVITE #MEIQIA-INVITE-INSIDE {
    width: 170px;
    height: 44px;
    margin: 56px 0 0 110px;
    text-align: left;
    font-size: 13px;
    line-height: 22px;
    color: #4c4c4c;
    overflow: hidden; /*word-break: break-all;*/
}