a:hover{
    text-decoration: none;
}

.swiper-container1 {
    position: relative
}

.swiper-container1, .swiper-wrapper {
    width: 100%;
    height: auto
}

.swiper-slide {
    font-size: 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer
}

.banner, .index_banner {
    width: 100%;
    height: auto
}

.swiper-pagination1 {
    position: absolute;
    left: 0;
    bottom: .4rem !important
}

.swiper-pagination1 .swiper-pagination-bullet-active {
    opacity: 1 !important;
    background: #fff !important
}

.swiper-pagination1 .swiper-pagination-bullet {
    width: 80px;
    height: 4px;
    border-radius: 100px;
    opacity: .3;
    background: #000
}

.swiper-container4 {
    width: 100%;
    height: 100%;
    position: relative
}

.swiper-slide4 {
    background-position: 50%;
    background-size: cover;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    /*-ms-flex-pack: distribute !important;*/
    justify-content: space-around !important
}

.swiper-container4 .swiper-slide-active, .swiper-slide4 {
    width: 340px !important;
    height: 465px !important
}

.swiper-container4 .swiper-slide-active li {
    width: 100% !important;
    height: 100% !important;
    border-radius: 8px !important;
    transition: all .2s ease
}

.swiper-container4 .swiper-pagination-bullets {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.swiper-container4 .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
    opacity: 1 !important;
    background: rgba(255, 223, 67, .6) !important
}

.swiper-container4 .swiper-pagination-bullet-active {
    width: 10px !important;
    height: 10px !important;
    background: #fccf37 !important
}

.luffy-home[_v-b2c567ce] {
    width: 100%;
    height: auto;
    background: #fff
}

.luffy-home .home-swiper[_v-b2c567ce] {
    width: 100%;
    height: auto;
    margin-bottom: 80px
}

.luffy-home .title[_v-b2c567ce] {
    text-align: center;
    font-family: PingFangSC-Light
}

.luffy-home .title p[_v-b2c567ce] {
    font-size: 28px;
    color: #4a4a4a;
    padding-bottom: 13px
}

.luffy-home .title span[_v-b2c567ce] {
    display: inline-block;
    font-size: 16px;
    color: #9b9b9b
}

.luffy-home .home-content[_v-b2c567ce] {
    width: 100%;
    height: auto
}

.luffy-home .home-content .play[_v-b2c567ce] {
    width: 49px;
    height: 49px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -24.5px;
    margin-top: -24.5px;
    z-index: 2
}

.luffy-home .home-content .personal-state[_v-b2c567ce] {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 100px
}

.luffy-home .home-content .personal-state li[_v-b2c567ce] {
    text-align: center
}

.luffy-home .home-content .personal-state li img[_v-b2c567ce] {
    width: 330px;
    height: 210px
}

.luffy-home .home-content .personal-state li p[_v-b2c567ce]:first-of-type {
    padding-top: 30px;
    padding-bottom: 13px;
    font-size: 22px;
    color: #5e5e5e;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .personal-state li p[_v-b2c567ce]:nth-of-type(2) {
    font-size: 16px;
    color: #9b9b9b;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .luffy-study[_v-b2c567ce] {
    width: 1200px;
    height: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    background: url("../frontend/default.png") no-repeat 50%;
    background-size: 100px 100px;
    position: relative
}

.luffy-home .home-content .luffy-study li[_v-b2c567ce] {
    height: auto;
    cursor: pointer;
    background: #fff;
    box-shadow: 3px 6px 32px #adcbfb;
    border-radius: 8px;
    padding: 20px 25px;
    transition: all .3s linear
}

.luffy-home .home-content .luffy-study li .title-p[_v-b2c567ce] {
    font-size: 22px;
    color: #4a4a4a;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 24px;
    letter-spacing: .93px;
    border-bottom: 1px solid #adcbfb;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .luffy-study li .title-p span[_v-b2c567ce] {
    color: #000;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .luffy-study li div span[_v-b2c567ce] {
    /*display: -ms-flexbox;*/
    display: block;
    -ms-flex-align: center;
    margin: 15px 0;
    padding: 5px 0;
    align-items: center;
    font-size: 20px;
    color: #5e5e5e;
    letter-spacing: .6px;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .luffy-study li div span[_v-b2c567ce]:hover {
    background: #fccf38;
}

.luffy-home .home-content .luffy-study li div a:hover {
    text-decoration: none;
}

.luffy-home .home-content .luffy-study li div p img[_v-b2c567ce] {
    width: 24px;
    height: 24px;
    margin-right: 15px
}

/*.luffy-home .home-content .luffy-study li div p[_v-b2c567ce]:last-child {*/
    /*margin-top: 15px*/
/*}*/

.luffy-home .home-content .luffy-study .module1[_v-b2c567ce] {
    position: absolute;
    left: 595px;
    top: 66px
}

.luffy-home .home-content .luffy-study .module2[_v-b2c567ce] {
    position: absolute;
    left: 200px;
    top: 168px
}

.luffy-home .home-content .luffy-study .module3[_v-b2c567ce] {
    position: absolute;
    left: 150px;
    bottom: 340px
}

.luffy-home .home-content .luffy-study .module4[_v-b2c567ce] {
    position: absolute;
    right: 250px;
    bottom: 235px
}

.luffy-home .home-content .luffy-study .module5[_v-b2c567ce] {
    position: absolute;
    right: 72px;
    top: 285px
}

.luffy-home .home-content .luffy-study li[_v-b2c567ce]:hover {
    box-shadow: 6px 12px 32px #adcbfb;
    transform: translate3d(0, -5px, 0);
    cursor: default;
}

.luffy-home .home-content .simple-learning[_v-b2c567ce] {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 110px
}

.luffy-home .home-content .simple-learning ul[_v-b2c567ce] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 50px
}

.luffy-home .home-content .simple-learning ul li[_v-b2c567ce] {
    width: 254px;
    height: 320px;
    border-radius: 8px;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    position: relative
}

.luffy-home .home-content .simple-learning ul li b[_v-b2c567ce] {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, .3);
    z-index: 1
}

.luffy-home .home-content .simple-learning ul li .li-bg[_v-b2c567ce] {
    width: 100%;
    height: 100%;
    transition: all 1s ease
}

.luffy-home .home-content .simple-learning ul li section[_v-b2c567ce] {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 15px;
    z-index: 2;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .simple-learning ul li section .p1[_v-b2c567ce] {
    font-size: 20px;
    color: #fff
}

.luffy-home .home-content .simple-learning ul li section .p2[_v-b2c567ce] {
    font-size: 14px;
    color: #e8e8e8
}

.luffy-home .home-content .simple-learning ul li section .p3[_v-b2c567ce] {
    font-size: 18px;
    color: #fff
}

.luffy-home .home-content .simple-learning ul li:hover .li-bg[_v-b2c567ce] {
    transform: scale(1.2)
}

.luffy-home .home-content .course-system[_v-b2c567ce] {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 110px;
    margin-top: 32px;
}

.luffy-home .home-content .course-system ul[_v-b2c567ce] {
    margin-top: 42px;
    margin-bottom: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.luffy-home .home-content .course-system ul li[_v-b2c567ce] {
    text-align: center
}

.luffy-home .home-content .course-system ul li img[_v-b2c567ce] {
    width: 370px;
    height: 200px;
    margin-bottom: 30px
}

.luffy-home .home-content .course-system ul li .name[_v-b2c567ce] {
    font-family: PingFangSC-Regular;
    font-size: 22px;
    color: #5e5e5e
}

.luffy-home .home-content .course-system ul li .salary[_v-b2c567ce] {
    padding-top: 8px;
    padding-bottom: 14px;
    font-size: 16px;
    color: #9b9b9b;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .course-system ul li .text[_v-b2c567ce] {
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: #9b9b9b;
    line-height: 28px
}

.luffy-home .home-content .course-system ul li button[_v-b2c567ce] {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #fff;
    background-image: linear-gradient(-180deg, #fccf38, #fccf38 100%, #fccf38 0);
    border-radius: 100px;
    padding: 10px 54px;
    margin-top: 35px
}

.luffy-home .home-content .luffy-phase[_v-b2c567ce] {
    width: 980px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px
}

.luffy-home .home-content .luffy-phase ul[_v-b2c567ce] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px
}

.luffy-home .home-content .luffy-phase ul li[_v-b2c567ce] {
    width: 245px;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .luffy-phase ul li .scope[_v-b2c567ce] {
    width: 180px;
    height: auto;
    font-size: 20px;
    color: #fff;
    background: #d0d0d0;
    border-radius: 5.4px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 5px 0
}

.luffy-home .home-content .luffy-phase ul li .scope[_v-b2c567ce]:after {
    content: "";
    border: 10px solid transparent;
    border-top-color: #d0d0d0;
    position: absolute;
    left: 50%;
    bottom: -19px;
    margin-left: -10px
}

.luffy-home .home-content .luffy-phase ul li div[_v-b2c567ce]:nth-of-type(2) {
    font-size: 22px;
    color: #5e5e5e;
    background: #ebebea;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    /*-ms-flex-pack: distribute;*/
    justify-content: space-around
}

.luffy-home .home-content .luffy-phase ul li .position1[_v-b2c567ce] {
    height: 60px
}

.luffy-home .home-content .luffy-phase ul li .position2[_v-b2c567ce] {
    height: 90px
}

.luffy-home .home-content .luffy-phase ul li .position3[_v-b2c567ce] {
    height: 120px
}

.luffy-home .home-content .luffy-phase ul li .position4[_v-b2c567ce] {
    height: 150px
}

.luffy-home .home-content .luffy-phase ul li .scopehover[_v-b2c567ce] {
    background: #e7683a !important;
    transition: all .3s ease
}

.luffy-home .home-content .luffy-phase ul li .scopehover[_v-b2c567ce]:after {
    content: "";
    border: 10px solid transparent;
    border-top-color: #e7683a !important;
    position: absolute;
    left: 50%;
    bottom: -19px;
    margin-left: -10px
}

.luffy-home .home-content .luffy-phase ul li .position[_v-b2c567ce] {
    background-image: linear-gradient(44deg, #ffe45b, #fef289) !important;
    transition: all .3s ease
}

.luffy-home .home-content .luffy-phase .tip-box[_v-b2c567ce] {
    width: 100%;
    height: 80px;
    display: -ms-flexbox;
    /*-ms-flex-pack: distribute;*/
    justify-content: space-around;
    margin-top: 50px;
    font-size: 16px;
    color: #5e5e5e;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    line-height: 40px;
    text-align: center;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .student-story[_v-b2c567ce] {
    width: 100%;
    height: auto;
    background: #f8fbff;
    padding: 30px 0;
    margin-bottom: 50px;
}

.luffy-home .home-content .student-story ul[_v-b2c567ce] {
    width: 1200px;
    height: 540px;
    margin: 0 auto;
    /*margin-top: 58px;*/
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.luffy-home .home-content .student-story ul li[_v-b2c567ce] {
    width: 310px;
    height: 383px;
    position: relative;
    border-radius: 5px;
    overflow: hidden
}

.luffy-home .home-content .student-story ul li b[_v-b2c567ce] {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0
}

.luffy-home .home-content .student-story ul li .student[_v-b2c567ce] {
    width: 100%;
    height: 100%
}

.luffy-home .home-content .student-story ul li section[_v-b2c567ce] {
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 15px;
    z-index: 2;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .student-story ul li section .p1[_v-b2c567ce] {
    font-size: 24px;
    color: #fff
}

.luffy-home .home-content .student-story ul li section .p2[_v-b2c567ce] {
    font-size: 16px;
    color: #f9f9f8
}

.luffy-home .home-content .student-story ul li section .p3[_v-b2c567ce] {
    font-size: 14px;
    color: #fff
}

.luffy-home .home-content .student-story .student-more[_v-b2c567ce] {
    font-size: 20px;
    color: #f5a623;
    text-align: center;
    cursor: pointer;
    padding-top: 28px;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .student-video[_v-b2c567ce] {
    width: 100%;
    height: auto;
    margin-bottom: 100px
}

.luffy-home .home-content .student-video .student-list[_v-b2c567ce] {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-top: 55px;
    overflow: hidden;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.luffy-home .home-content .student-video .student-list .student-module[_v-b2c567ce] {
    height: 328px;
    position: relative;
    margin-bottom: 15px;
    overflow: hidden;
    cursor: pointer
}

.luffy-home .home-content .student-video .student-list .student-module .img1[_v-b2c567ce] {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 1s ease
}

.luffy-home .home-content .student-video .student-list .student-module .top[_v-b2c567ce] {
    position: absolute;
    left: 20px;
    top: 26px;
    font-family: PingFangSC-Regular;
    z-index: 2
}

.luffy-home .home-content .student-video .student-list .student-module .top p[_v-b2c567ce]:first-of-type {
    font-size: 20px;
    color: #efefef;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .student-video .student-list .student-module .top p[_v-b2c567ce]:nth-of-type(2) {
    font-family: PingFangSC-Light;
    font-size: 14px;
    color: hsla(0, 0%, 100%, .76);
    text-align: left;
    line-height: 26px;
    width: 390px
}

.luffy-home .home-content .student-video .student-list .student-module .bottom[_v-b2c567ce] {
    position: absolute;
    left: 20px;
    bottom: 26px;
    color: #fff;
    z-index: 2
}

.luffy-home .home-content .student-video .student-list .student-module .bottom .p1[_v-b2c567ce] {
    font-size: 22px;
    color: #fff;
    padding-bottom: 5px;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .student-video .student-list .student-module .bottom .p2[_v-b2c567ce] {
    font-size: 16px;
    margin-bottom: 10px;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .student-video .student-list .student-module .bottom .p3[_v-b2c567ce] {
    font-size: 14px;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .student-video .student-list .student-module .bottom .p3 img[_v-b2c567ce] {
    width: 20px;
    height: 20px;
    margin-right: 7px
}

.luffy-home .home-content .student-video .student-list .student-module1[_v-b2c567ce] {
    width: 597px;
    height: 328px;
    cursor: pointer
}

.luffy-home .home-content .student-video .student-list .student-module2[_v-b2c567ce] {
    width: 489px;
    height: 328px;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    cursor: pointer
}

.luffy-home .home-content .student-video .student-list .student-module2 .left[_v-b2c567ce] {
    width: 244px;
    height: 100%;
    background: #debe67
}

.luffy-home .home-content .student-video .student-list .student-module2 .left .top[_v-b2c567ce] {
    position: absolute;
    left: 20px;
    top: 26px;
    font-family: PingFangSC-Light;
    z-index: 2
}

.luffy-home .home-content .student-video .student-list .student-module2 .left .top p[_v-b2c567ce]:first-of-type {
    font-family: PingFangSC-Light;
    font-size: 20px;
    color: #efefef
}

.luffy-home .home-content .student-video .student-list .student-module2 .left .top p[_v-b2c567ce]:nth-of-type(2) {
    font-size: 14px;
    color: hsla(0, 0%, 100%, .76);
    text-align: left;
    line-height: 26px
}

.luffy-home .home-content .student-video .student-list .student-module2 .left .bottom[_v-b2c567ce] {
    position: absolute;
    left: 20px;
    bottom: 26px;
    color: #fff;
    z-index: 2
}

.luffy-home .home-content .student-video .student-list .student-module2 .left .bottom .p1[_v-b2c567ce] {
    font-size: 22px;
    color: #fff;
    padding-bottom: 5px;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .student-video .student-list .student-module2 .left .bottom .p2[_v-b2c567ce] {
    font-size: 14px;
    margin-bottom: 10px;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .student-video .student-list .student-module2 .left .bottom .p3[_v-b2c567ce] {
    font-size: 14px;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .student-video .student-list .student-module2 .left .bottom .p3 img[_v-b2c567ce] {
    width: 20px;
    height: 20px;
    margin-right: 7px
}

.luffy-home .home-content .student-video .student-list .student-module2 .left2[_v-b2c567ce] {
    background: #658e99
}

.luffy-home .home-content .student-video .student-list .student-module2 .right[_v-b2c567ce] {
    -ms-flex: 1;
    flex: 1;
    height: 100%;
    overflow: hidden
}

.luffy-home .home-content .student-video .student-list .student-module2 .right img[_v-b2c567ce] {
    width: 100%;
    height: 100%;
    transition: all 1s ease
}

.luffy-home .home-content .student-video .student-list .student-module2:nth-of-type(3) .left[_v-b2c567ce] {
    background: #70a1af
}

.luffy-home .home-content .student-video .student-list .student-module3[_v-b2c567ce] {
    width: 489px !important;
    height: 328px;
    cursor: pointer
}

.luffy-home .home-content .student-video .student-list .student-module3 .img1[_v-b2c567ce] {
    width: 100%;
    height: 100%
}

.luffy-home .home-content .student-video .student-list .student-module[_v-b2c567ce]:nth-of-type(2n) {
    margin-right: 0
}

.luffy-home .home-content .student-video .student-list b[_v-b2c567ce] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    background: rgba(0, 0, 0, .4);
    z-index: 1
}

.luffy-home .home-content .student-video .student-list .student-module2:hover .right img[_v-b2c567ce], .luffy-home .home-content .student-video .student-list .student-module:hover .img1[_v-b2c567ce] {
    transform: scale(1.2)
}

.luffy-home .home-content .luffy-comment[_v-b2c567ce] {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
    margin-top: 80px;
}

.luffy-home .home-content .luffy-comment ul[_v-b2c567ce] {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.luffy-home .home-content .luffy-comment ul li[_v-b2c567ce] {
    width: 338px;
    height: 537px;
    background: #fafafa;
    border-radius: 8px;
    box-shadow: 0 10px 20px #e8e8e8
}

.luffy-home .home-content .luffy-comment ul li .top-p[_v-b2c567ce] {
    width: 100%;
    height: 48px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #4a4a4a;
    padding-left: 26px;
    line-height: 48px;
    background: #fccf37;
    border-radius: 8px 8px 0 0
}

.luffy-home .home-content .luffy-comment ul li .comment-content[_v-b2c567ce] {
    padding: 20px;
    display: -ms-flexbox;
    display: block;
    height: 90%;
}

.luffy-home .home-content .luffy-comment ul li .comment-content img[_v-b2c567ce] {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    float: left;
    clear: both;
}

.luffy-home .home-content .luffy-comment ul li .comment-content div[_v-b2c567ce] {
    width: 250px;
    height: 33.3%;
    background: #fff;
    box-shadow: 0 2px 4px 0 #eaecf4;
    border-radius: 4px;
    padding: 0 10px;
    float: left;
}

.luffy-home .home-content .luffy-comment ul li .comment-content div p[_v-b2c567ce] {
    font-size: 14px;
    color: #606264;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .luffy-comment ul li .comment-content div span[_v-b2c567ce] {
    display: inline-block;
    font-size: 14px;
    color: #666;
    line-height: 24px;
    padding-bottom: 15px;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .luffy-comment ul li[_v-b2c567ce]:nth-of-type(2) {
    height: 537px
}

.luffy-home .home-content .course-system .look-comment[_v-b2c567ce] {
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #f5a623;
    text-align: center;
    cursor: pointer
}

.luffy-home .home-content .luffy-teacher[_v-b2c567ce] {
    width: 100%;
    height: auto;
    padding-bottom: 100px;
    background: #f8fbff;
    margin-bottom: 100px
}

.luffy-home .home-content .luffy-teacher .teacher_box[_v-b2c567ce] {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-top: 62px
}

.luffy-home .home-content .luffy-teacher .teacher_box .drag[_v-b2c567ce] {
    width: 100%;
    height: 8px;
    background: #909cb7;
    border-radius: 100px;
    position: relative
}

.luffy-home .home-content .luffy-teacher .teacher_box .drag .plan[_v-b2c567ce] {
    position: absolute;
    width: 158px;
    height: 100%;
    background: #fccf37;
    border-radius: 100px;
    cursor: pointer
}

.luffy-home .home-content .luffy-teacher .swiper-slide5[_v-b2c567ce] {
    width: 342px;
    height: 520px;
    background: #fff;
    border: 1px solid #e8f0fb;
    box-shadow: 0 6px 12px 0 #e8e8e8;
    border-radius: 6px;
    text-align: center;
    margin-right: 35px;
    margin-bottom: 0;
    padding: 30px;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    position: relative
}

.luffy-home .home-content .luffy-teacher .swiper-slide5 .teacher-img[_v-b2c567ce] {
    width: 68px;
    height: 68px;
    border: 1px solid #d0d0d0;
    border-radius: 100px
}

.luffy-home .home-content .luffy-teacher .swiper-slide5 p[_v-b2c567ce] {
    font-family: PingFangSC-Regular;
    color: #5e5e5e;
    font-size: 15px;
    line-height: 26px;
}

.luffy-home .home-content .luffy-teacher .swiper-slide5 p[_v-b2c567ce]:first-of-type {
    color: #9b9b9b;
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 22px
}

.luffy-home .home-content .luffy-teacher .swiper-slide5 button[_v-b2c567ce] {
    width: 180px;
    height: 42px;
    background-image: linear-gradient(-180deg, #fccf38, #fccf38 100%, #fccf38 0);
    border-radius: 100px;
    font-size: 18px;
    color: #fff;
    font-family: PingFangSC-Light;
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin-left: -90px
}

.luffy-home .home-content .luffy-teacher .swiper-slide5[_v-b2c567ce]:last-child {
    margin-right: 0
}

.luffy-home .home-content .luffy-feel[_v-b2c567ce] {
    width: 100%;
    height: auto;
    background: #fff;
}

.cooper.luffy-feel.slide.slideanim {
    margin-top: 50px;
}

.luffy-home .home-content .luffy-feel ul[_v-b2c567ce] {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 70px;
    padding: 0 35px
}

.luffy-home .home-content .luffy-feel ul li[_v-b2c567ce] {
    width: 24%;
    height: 10%;
    border: 1px solid #e9e9e9;
    box-shadow: 2px 10px 20px 0 #e9e9e9;
    border-radius: 8px;
    margin-bottom: 32px;
    padding: 15px;
    display: -ms-flexbox;
    display: flex;
    transition: all .3s linear;
    cursor: pointer;
}

.luffy-home .home-content .cooper ul li[_v-b2c567ce] {
    width: 32%;
}

.luffy-home .home-content .luffy-feel ul li .img1[_v-b2c567ce] {
    width: 30px;
    height: 30px;
}

.luffy-home .home-content .luffy-feel ul li div[_v-b2c567ce] {
    -ms-flex: 1;
    height: 60px;
    flex: 1
}

.luffy-home .home-content .luffy-feel ul li p[_v-b2c567ce] {
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .luffy-feel ul li p[_v-b2c567ce]:first-of-type {
    font-size: 24px;
    /*margin-bottom: 25px;*/
}

.luffy-home .home-content .luffy-feel ul li p[_v-b2c567ce]:nth-of-type(2) {
    color: #5e5e5e;
    font-size: 14px;
    line-height: 28px
}

.luffy-home .home-content .luffy-feel ul li[_v-b2c567ce]:first-of-type {
    background: #fff
}

.luffy-home .home-content .luffy-feel ul li:first-of-type p[_v-b2c567ce]:nth-of-type(1) {
    color: #3abb26
}

.luffy-home .home-content .luffy-feel ul li[_v-b2c567ce]:nth-of-type(2) {
    background: #e4f3de
}

.luffy-home .home-content .luffy-feel ul li:nth-of-type(2) p[_v-b2c567ce]:first-of-type {
    color: #268acd
}

.luffy-home .home-content .luffy-feel ul li[_v-b2c567ce]:nth-of-type(3) {
    background: #ffe9b1
}

.luffy-home .home-content .luffy-feel ul li:nth-of-type(3) p[_v-b2c567ce]:first-of-type {
    color: #7f61c2
}

.luffy-home .home-content .luffy-feel ul li[_v-b2c567ce]:nth-of-type(4) {
    background: #ffead9
}

.luffy-home .home-content .luffy-feel ul li:nth-of-type(4) p[_v-b2c567ce]:first-of-type {
    color: #d8883c
}

.luffy-home .home-content .luffy-feel ul li[_v-b2c567ce]:hover {
    box-shadow: 2px 10px 20px 0 #e9e9e9;
    -webkit-box-shadow: 2px 10px 20px 0 #e9e9e9;
    transform: translate3d(0, -5px, 0)
}

.luffy-home .home-content .liffy-security[_v-b2c567ce] {
    width: 100%;
    height: auto;
    margin-bottom: 130px
}

.luffy-home .home-content .liffy-security section[_v-b2c567ce] {
    width: 911px;
    height: auto;
    margin: 0 auto;
    margin-top: 70px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.luffy-home .home-content .liffy-security section .consulting[_v-b2c567ce] {
    width: 302px;
    height: auto;
    margin-right: 30px
}

.luffy-home .home-content .liffy-security section .consulting div[_v-b2c567ce] {
    padding-bottom: 56px;
    text-align: center;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-top: none;
    border-radius: 0 0 9px 9px;
    box-shadow: 0 10px 20px rgba(180, 195, 217, .5)
}

.luffy-home .home-content .liffy-security section .consulting div p[_v-b2c567ce]:first-of-type {
    font-size: 24px;
    color: #5e5e5e;
    line-height: 38px;
    padding-top: 28px;
    padding-bottom: 10px;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .liffy-security section .consulting div p[_v-b2c567ce]:nth-of-type(2) {
    font-size: 22px;
    color: #5e5e5e;
    padding-bottom: 28px;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .liffy-security section .consulting div button[_v-b2c567ce] {
    width: 176px;
    height: 42px;
    background-image: linear-gradient(-180deg, #fccf38, #fccf38 100%, #fccf38 0);
    border-radius: 100px;
    font-size: 18px;
    color: #fff;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .liffy-security section .agreement[_v-b2c567ce] {
    width: 580px;
    height: 416px;
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 9px;
    box-shadow: 0 10px 20px rgba(180, 195, 217, .5)
}

.luffy-home .home-content .liffy-security section .agreement .agreement-title[_v-b2c567ce] {
    padding-top: 50px;
    padding-bottom: 14px;
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #4a4a4a;
    text-align: center
}

.luffy-home .home-content .liffy-security section .agreement .agreement-item[_v-b2c567ce] {
    font-family: PingFangSC-Light;
    font-size: 18px;
    color: #5e5e5e;
    padding-bottom: 18px;
    text-align: center
}

.luffy-home .home-content .liffy-security section .agreement .agreement-details[_v-b2c567ce] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    /*-ms-flex-pack: distribute;*/
    justify-content: space-around;
    padding: 0 80px
}

.luffy-home .home-content .liffy-security section .agreement .agreement-details .left[_v-b2c567ce], .luffy-home .home-content .liffy-security section .agreement .agreement-details .right[_v-b2c567ce] {
    width: 177px;
    height: auto
}

.luffy-home .home-content .liffy-security section .agreement .agreement-details .left button[_v-b2c567ce], .luffy-home .home-content .liffy-security section .agreement .agreement-details .right button[_v-b2c567ce] {
    width: 100%;
    height: 42px;
    background-image: linear-gradient(-180deg, #fccf38, #fccf38 100%, #fccf38 0);
    border-radius: 6px;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #fff;
    cursor: pointer
}

.luffy-home .home-content .liffy-security section .agreement .agreement-details .details[_v-b2c567ce] {
    width: 100%;
    height: 121px;
    border: 1px solid #9d9d9d;
    border-radius: 6px;
    text-align: center;
    margin-bottom: 20px
}

.luffy-home .home-content .liffy-security section .agreement .agreement-details .details p[_v-b2c567ce]:first-of-type {
    font-size: 18px;
    color: #4a4a4a;
    padding-top: 24px;
    padding-bottom: 12px;
    font-family: PingFangSC-Light;
}

.luffy-home .home-content .liffy-security section .agreement .agreement-details .details p[_v-b2c567ce]:nth-of-type(2) {
    font-size: 14px;
    color: #9b9b9b;
    line-height: 20px;
    font-family: PingFangSC-Regular;
}

.luffy-home .home-content .luffy-experience[_v-b2c567ce] {
    width: 100%;
    height: auto;
    padding-top: 30px;
    border-top: 1px solid #e9e9e9;
}

.luffy-home .home-content .luffy-experience ul[_v-b2c567ce] {
    width: 1100px;
    height: auto;
    margin: 0 auto;
    margin-top: 62px;
    margin-bottom: 70px;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.luffy-home .home-content .luffy-experience ul[_v-b2c567ce], .luffy-home .home-content .luffy-experience ul li[_v-b2c567ce] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.luffy-home .home-content .luffy-experience ul li p[_v-b2c567ce]:first-of-type {
    font-size: 64px;
    color: #5e5e5e;
    margin-right: 10px;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .luffy-experience ul li span[_v-b2c567ce] {
    display: block
}

.luffy-home .home-content .luffy-experience ul li p:nth-of-type(2) span[_v-b2c567ce]:first-of-type {
    font-size: 22px;
    color: #5e5e5e;
    padding-bottom: 10px;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .luffy-experience ul li p:nth-of-type(2) span[_v-b2c567ce]:nth-of-type(2) {
    font-size: 16px;
    color: #9b9b9b;
    font-family: PingFangSC-Light
}

.luffy-home .home-content .luffy-experience ul button[_v-b2c567ce] {
    width: 254px;
    height: 54px;
    background-image: linear-gradient(-180deg, #fccf38, #fccf38 100%, #fccf38 0);
    border-radius: 92px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #fff
}

.luffy-home .home-content .luffy-experience .process[_v-b2c567ce] {
    width: 1200px;
    height: 525px;
    margin: 0 auto;
    margin-bottom: -5px;
    background: url("../frontend/bottom_1535550994.1790597.svg") no-repeat;
    background-size: 100% 100%;
    position: relative
}

.luffy-home .home-content .luffy-experience .process .steps[_v-b2c567ce] {
    text-align: center;
    font-family: PingFangSC-Regular
}

.luffy-home .home-content .luffy-experience .process .steps p[_v-b2c567ce]:first-of-type {
    font-size: 24px;
    color: #4a4a4a
}

.luffy-home .home-content .luffy-experience .process .steps p[_v-b2c567ce]:nth-of-type(2) {
    font-size: 15px;
    color: #5e5e5e;
    line-height: 24px
}

.luffy-home .home-content .luffy-experience .process .steps1[_v-b2c567ce] {
    position: absolute;
    left: 205px;
    top: 205px
}

.luffy-home .home-content .luffy-experience .process .steps2[_v-b2c567ce] {
    position: absolute;
    left: 534px;
    top: 82px
}

.luffy-home .home-content .luffy-experience .process .steps3[_v-b2c567ce] {
    position: absolute;
    right: 228px;
    top: 205px
}

.luffy-home .home-content .luffy-experience .process .steps4[_v-b2c567ce] {
    font-family: PingFangSC-Regular;
    font-size: 24px;
    color: #4a4a4a;
    position: absolute;
    left: 502px;
    bottom: 4px
}

button[_v-b2c567ce] {
    transition: all .3s linear
}

button[_v-b2c567ce]:hover {
    box-shadow: 0 4px 8px 0 #d0d0d0;
    -webkit-box-shadow: 0 4px 8px 0 #d0d0d0;
    transform: translate3d(0, -4px, 0)
}

.slideanim[_v-b2c567ce] { /*visibility:hidden*/
}

.slide[_v-b2c567ce] {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible
}

@keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(50%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0)
    }
}

.swiper-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
    float: left
}

.swiper-container-vertical > .swiper-wrapper {
    -ms-flex-direction: column;
    flex-direction: column
}

.swiper-wrapper {
    position: relative;
    width: 100%; /*height:100%*/;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    transition-property: transform;
    box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
    transform: translateZ(0)
}

.swiper-container-multirow > .swiper-wrapper {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.swiper-container-free-mode > .swiper-wrapper {
    transition-timing-function: ease-out;
    margin: 0 auto
}

.swiper-slide {
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 30px;
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
    height: auto
}

.swiper-container-autoheight .swiper-wrapper {
    -ms-flex-align: start;
    align-items: flex-start;
    transition-property: transform, height
}

.swiper-container .swiper-notification {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    z-index: -1000
}

.swiper-wp8-horizontal {
    -ms-touch-action: pan-y;
    touch-action: pan-y
}

.swiper-wp8-vertical {
    -ms-touch-action: pan-x;
    touch-action: pan-x
}

.swiper-button-next, .swiper-button-prev {
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: 50%;
    background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: .35;
    cursor: auto;
    pointer-events: none
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23007aff'/%3E%3C/svg%3E");
    left: 10px;
    right: auto
}

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z'/%3E%3C/svg%3E")
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M0 22L22 0l2.1 2.1L4.2 22l19.9 19.9L22 44 0 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23007aff'/%3E%3C/svg%3E");
    right: 10px;
    left: auto
}

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z'/%3E%3C/svg%3E")
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 44'%3E%3Cpath d='M27 22L5 44l-2.1-2.1L22.8 22 2.9 2.1 5 0l22 22z' fill='%23fff'/%3E%3C/svg%3E")
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: .3s;
    transform: translateZ(0);
    z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
    opacity: 0
}

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%
}

.swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2
}

button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
    background: #fff
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
    background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
    background: #000
}

.swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 5px 0;
    display: block
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px
}

.swiper-pagination-progress {
    background: rgba(0, 0, 0, .25);
    position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
    background: #007aff;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: scale(0);
    transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
    transform-origin: right top
}

.swiper-container-horizontal > .swiper-pagination-progress {
    width: 100%;
    height: 4px;
    left: 0;
    top: 0
}

.swiper-container-vertical > .swiper-pagination-progress {
    width: 4px;
    height: 100%;
    left: 0;
    top: 0
}

.swiper-pagination-progress.swiper-pagination-white {
    background: hsla(0, 0%, 100%, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
    background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
    background: #000
}

.swiper-container-3d {
    -o-perspective: 1200px;
    perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
    transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-right {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-top {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-3d .swiper-slide-shadow-bottom {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, .5), transparent)
}

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
    -ms-perspective: 1200px
}

.swiper-container-cube, .swiper-container-flip {
    overflow: visible
}

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
    pointer-events: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
    visibility: hidden;
    transform-origin: 0 0;
    width: 100%;
    height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
    transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
    pointer-events: auto;
    visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    -webkit-filter: blur(50px);
    filter: blur(50px);
    z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
    transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
    pointer-events: none;
    transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
    pointer-events: none
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
    pointer-events: auto
}

.swiper-zoom-container {
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center
}

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain
}

.swiper-scrollbar {
    border-radius: 10px;
    position: relative;
    -ms-touch-action: none;
    background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal > .swiper-scrollbar {
    position: absolute;
    left: 1%;
    bottom: 3px;
    z-index: 50;
    height: 5px;
    width: 98%
}

.swiper-container-vertical > .swiper-scrollbar {
    position: absolute;
    right: 3px;
    top: 1%;
    z-index: 50;
    width: 5px;
    height: 98%
}

.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    position: relative;
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    left: 0;
    top: 0
}

.swiper-scrollbar-cursor-drag {
    cursor: move
}

.swiper-lazy-preloader {
    width: 42px;
    height: 42px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -21px;
    margin-top: -21px;
    z-index: 10;
    transform-origin: 50%;
    animation: swiper-preloader-spin 1s steps(12) infinite
}

.swiper-lazy-preloader:after {
    display: block;
    content: "";
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E");
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat
}

.swiper-lazy-preloader-white:after {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' stroke='%23fff' stroke-width='11' stroke-linecap='round' d='M60 7v20'/%3E%3C/defs%3E%3Cuse xlink:href='%23a' opacity='.27'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(30 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(60 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(90 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(120 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.27' transform='rotate(150 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.37' transform='rotate(180 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.46' transform='rotate(210 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.56' transform='rotate(240 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.66' transform='rotate(270 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.75' transform='rotate(300 60 60)'/%3E%3Cuse xlink:href='%23a' opacity='.85' transform='rotate(330 60 60)'/%3E%3C/svg%3E")
}

@keyframes swiper-preloader-spin {
    to {
        transform: rotate(1turn)
    }
}
.freemask[_v-02bb3811] {
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(41, 41, 41, .9);
    width: 100%;
    height: 100%;
    z-index: 101
}

.freemask .wrapper[_v-02bb3811] {
    width: 14.5rem;
    height: 8rem;
    position: absolute;
    left: 0;
    top: -30px;
    bottom: 0;
    right: 0;
    margin: auto;
    animation: x0ppop .45s ease
}

.freemask .wrapper p[_v-02bb3811] {
    text-align: left;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    font-family: PingFangSC-Regular
}

.freemask .wrapper img[_v-02bb3811] {
    position: absolute;
    right: -20px;
    top: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer
}

.freemask .wrapper .videoBox[_v-02bb3811] {
    width: 98%;
    height: 100%
}

.freemask .wrapper .videoBox embed[_v-02bb3811], .freemask .wrapper .videoBox object[_v-02bb3811] {
    width: 100% !important;
    height: 100% !important
}

@keyframes x0ppop {
    0% {
        transform: scale(.9);
        opacity: .3
    }
    50% {
        transform: scale(1.1);
        opacity: .7
    }
    to {
        transform: scale(1);
        opacity: 1
    }
}