<div class="main_box box" _v-6fc5cde2="" _v-650b75d2="" style="display: none">
    <div class="on-the-job" _v-6fc5cde2=""><p class="title" _v-6fc5cde2="">在职充电</p>
        <div class="student-list" _v-6fc5cde2="">
            {foreach name='stus' item='vo'}
            <div class="student-module {in name='key' value='0,3'}student-module1{/in}
            {eq name='key' value='1'}student-module2{/eq}
            {eq name='key' value='2'}student-module3{/eq}" _v-6fc5cde2=""  onclick="player('{$vo.video_url}')">
                <b _v-6fc5cde2=""></b>
                <img src="{$vo.imgurl}" alt="" class="img1" _v-6fc5cde2="">
                <div class="top" _v-6fc5cde2="">
                    <p _v-6fc5cde2="">{$vo.title}</p>
                    <p _v-6fc5cde2="">{$vo.content}</p></div>
                <div class="bottom" _v-6fc5cde2=""><p _v-6fc5cde2="">{$vo.real_name}</p>
                    <p _v-6fc5cde2="">{$vo.trade}</p>
                    <p _v-6fc5cde2="">
                        <img src="__STATIC__/index/static/img/play-vedio.svg" alt="" _v-6fc5cde2="">观看{$vo.real_name}的故事
                    </p></div>
            </div>
            {/foreach}
            <!--<div class="student-module2" _v-6fc5cde2="">-->
                <!--<div class="left" _v-6fc5cde2="">-->
                    <!--<div class="top" _v-6fc5cde2="">-->
                        <!--<p _v-6fc5cde2="">余生太短,一定要去-->
                        <!--<br _v-6fc5cde2="">做有趣的事</p></div>-->
                    <!--<div class="bottom" _v-6fc5cde2="">-->
                        <!--<p _v-6fc5cde2="">肖博雅</p>-->
                        <!--<p _v-6fc5cde2="">Python开发工程师</p>-->
                        <!--<p _v-6fc5cde2="">-->
                            <!--<img src="__STATIC__/index/static/img/play-vedio.svg" alt="" _v-6fc5cde2="">-->
                            <!--观看肖博雅的故事</p></div>-->
                <!--</div>-->
                <!--<div class="right" _v-6fc5cde2="">-->
                    <!--<img src="/static/index/static/frontend/home-student2.png" alt="" _v-6fc5cde2="">-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="student-module student-module3" _v-6fc5cde2="">-->
                <!--<b _v-6fc5cde2=""></b>-->
                <!--<img src="/static/index/static/frontend/home-student3.jpeg" alt="" class="img1" _v-6fc5cde2="">-->
                <!--<div class="top" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">精彩的人生一定是忙碌的</p></div>-->
                <!--<div class="bottom" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">葛卢菁</p>-->
                    <!--<p _v-6fc5cde2="">58赶集网运维开发工程师</p>-->
                    <!--<p _v-6fc5cde2="">-->
                        <!--<img src="__STATIC__/index/static/img/play-vedio.svg" alt="" _v-6fc5cde2="">-->
                        <!--观看葛卢菁的故事</p></div>-->
            <!--</div>-->
            <!--<div class="student-module student-module1" _v-6fc5cde2="">-->
                <!--<b _v-6fc5cde2=""></b>-->
                <!--<img src="/static/index/static/frontend/home-student4.png" alt="" class="img1" _v-6fc5cde2="">-->
                <!--<div class="top" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">犹豫不决，才是对生命最大的耗费</p>-->
                    <!--<p _v-6fc5cde2="">生活就是知道自己的价值，做自己能做到的与自己所应做到的。只要不至我于死地的，只能使我更坚强。</p></div>-->
                <!--<div class="bottom" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">林玉璞</p>-->
                    <!--<p _v-6fc5cde2="">Python开发工程师</p>-->
                    <!--<p _v-6fc5cde2="">-->
                        <!--<img src="__STATIC__/index/static/img/play-vedio.svg" alt="" _v-6fc5cde2="">-->
                        <!--观看林玉璞的故事</p></div>-->
            <!--</div>-->
        </div>
    </div>
    <!--<div class="on-the-job" _v-6fc5cde2="">-->
        <!--<p class="title" _v-6fc5cde2="">零基础转行之路</p>-->
        <!--<div class="student-list" _v-6fc5cde2="">-->
            <!--<div class="student-module student-module1" _v-6fc5cde2="">-->
                <!--<b _v-6fc5cde2=""></b>-->
                <!--<img src="/static/index/static/frontend/home-student5.png" alt="" class="img1" _v-6fc5cde2="">-->
                <!--<div class="top" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">从测试转开发，路就在眼前</p>-->
                    <!--<p _v-6fc5cde2="">不管何时何地做你想做的事，永远都不嫌晚。你可以改变，也可以不变，没有什么是硬性规定。</p>-->
                <!--</div>-->
                <!--<div class="bottom" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">杨翔</p>-->
                    <!--<p _v-6fc5cde2="">创业公司Python开发工程师</p>-->
                    <!--<p _v-6fc5cde2="">-->
                        <!--<img src="__STATIC__/index/static/img/play-vedio.svg" alt="" _v-6fc5cde2="">-->
                        <!--观看杨翔的故事</p></div>-->
            <!--</div>-->
            <!--<div class="student-module2" _v-6fc5cde2="">-->
                <!--<div class="left left2" _v-6fc5cde2="">-->
                    <!--<div class="top" _v-6fc5cde2="">-->
                        <!--<p _v-6fc5cde2="">行向远方,心顾左右</p></div>-->
                    <!--<div class="bottom" _v-6fc5cde2="">-->
                        <!--<p _v-6fc5cde2="">王森</p>-->
                        <!--<p _v-6fc5cde2="">Python开发工程师</p>-->
                        <!--<p _v-6fc5cde2="">-->
                            <!--<img src="__STATIC__/index/static/img/play-vedio.svg" alt="" _v-6fc5cde2="">-->
                            <!--观看王森的故事</p></div>-->
                <!--</div>-->
                <!--<div class="right" _v-6fc5cde2="">-->
                    <!--<img src="/static/index/static/frontend/home-student6.png" alt="" _v-6fc5cde2=""></div>-->
            <!--</div>-->
            <!--<div class="student-module student-module3" _v-6fc5cde2="">-->
                <!--<b _v-6fc5cde2=""></b>-->
                <!--<img src="/static/index/static/frontend/home-student7.png" alt="" class="img1" _v-6fc5cde2="">-->
                <!--<div class="top" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">来自一名菜鸟的自白</p></div>-->
                <!--<div class="bottom" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">赵云龙</p>-->
                    <!--<p _v-6fc5cde2="">Python开发工程师</p>-->
                    <!--<p _v-6fc5cde2="">-->
                        <!--<img src="__STATIC__/index/static/img/play-vedio.svg" alt="" _v-6fc5cde2="">观看赵云龙的故事</p></div>-->
            <!--</div>-->
            <!--<div class="student-module student-module1" _v-6fc5cde2="">-->
                <!--<b _v-6fc5cde2=""></b>-->
                <!--<img src="/static/index/static/frontend/home-student1.png" alt="" class="img1" _v-6fc5cde2="">-->
                <!--<div class="top" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">从传统行业转行到IT的勇气</p>-->
                    <!--<p _v-6fc5cde2="">人生就是如此，争议才让事情变得智慧，而逆境才是成熟的基石。</p></div>-->
                <!--<div class="bottom" _v-6fc5cde2="">-->
                    <!--<p _v-6fc5cde2="">赵天祝</p>-->
                    <!--<p _v-6fc5cde2="">Python开发工程师</p>-->
                    <!--<p _v-6fc5cde2="">-->
                        <!--<img src="__STATIC__/index/static/img/play-vedio.svg" alt="" _v-6fc5cde2="">-->
                        <!--观看赵天祝的故事</p></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div> &lt;!&ndash;v-if&ndash;&gt; -->
</div>
<script>
    var video_play = '<div id="player" style="display: none">' +
        '<div class="main-wrap">'+
        '<img onclick="toSmall()" class="close" src="/static/index/static/frontend/close.png"/>'+
        '<video id="video" ishivideo="true" autoplay="true" isrotate="false" autoHide="true">' +
        '<source type="video/mp4">' +
        '</video>' +
        '</div>'+
        '</div>';
    $(document.body).append(video_play);

    function player(video) {
        $("#player").css('display','block');
        $("#video").attr('src',video);
        toVideo();
    }

    function toVideo() {
        $("#player").addClass("player");
        $("#player").show();
    }

    function toSmall() {
//        video.pause();
        $("#player").css('display','none');
        $("#video").removeAttr('src');
        document.getElementById("video").pause();
//        $("#video").pause();// 暂停
    }
</script>