<div class="main_box box" _v-334eddb1="" _v-650b75d2="" style="display: none">


    <div class="lecturer" _v-334eddb1=""><p class="title" _v-334eddb1="">讲师介绍</p>
        <div class="lecturer-list" _v-334eddb1=""> 
            <!--v-for-start-->
            {foreach name='team' item='vo'}
            <div class="lecturer-box parentH" _v-334eddb1="" key="0">
                <div class="lecturer-module" _v-334eddb1="">
                    <div class="lecturer-top" _v-334eddb1="">
                        <img alt="" _v-334eddb1="" src="{$vo.imgurl}">
                        <p class="name" _v-334eddb1="">{$vo.teacher_name}</p>
                        <p class="text" _v-334eddb1="">
                            {$vo.desc}
                        </p>
                    </div>
                    <!-- <p class="pipe" _v-334eddb1="">
                        <span class="sp1" _v-334eddb1="">
                        </span>试听他的课<span class="sp2" _v-334eddb1=""></span>
                    </p>v-if
                    <div class="lecturer-course" _v-334eddb1=""> v-for-start
                        <dl _v-334eddb1="" key="0">
                            <dt _v-334eddb1="">
                                <img alt="" class="img1" _v-334eddb1="" src="//hcdn1.luffycity.com/static/frontend/degree_course_detail/1_1533097716.7909453.jpeg">
                                <img src="__STATIC__/index/static/img/play-vedio.svg" alt="" class="img2" _v-334eddb1="">
                            </dt>
                            <dd _v-334eddb1="">
                                <p class="video-name" _v-334eddb1="">软件开发目录规范</p>
                                <p class="p2" _v-334eddb1="">
                                    <span _v-334eddb1="">播放量：739</span> 
                                    <span _v-334eddb1="">时长：12:30</span>
                                </p>
                            </dd>
                        </dl>
                        <dl _v-334eddb1="" key="1">
                            <dt _v-334eddb1="">
                                <img alt="" class="img1" _v-334eddb1="" src="//hcdn1.luffycity.com/static/frontend/degree_course_detail/2_1533097716.934769.jpeg">
                                <img src="__STATIC__/index/static/img/play-vedio.svg" alt="" class="img2" _v-334eddb1="">
                            </dt>
                            <dd _v-334eddb1="">
                                <p class="video-name" _v-334eddb1="">Django介绍</p>
                                <p class="p2" _v-334eddb1="">
                                    <span _v-334eddb1="">播放量：232</span> 
                                    <span _v-334eddb1="">时长：08:00</span>
                                </p>
                            </dd>
                        </dl>v-for-end
                    </div> --><!--v-if--> <!--v-if-->
                </div>
            </div>
            {/foreach}
            <!--v-for-end-->
        </div>
    </div>


    <!--<div class="mentor" _v-334eddb1="" style="display: none;"><p class="title" _v-334eddb1="">导师介绍</p>-->
        <!--<div class="mentor-list" _v-334eddb1=""> &lt;!&ndash;v-for-start&ndash;&gt;-->
            <!--<div class="mentor-module" _v-334eddb1="" key="0" style="display: none;">-->
                <!--<div class="mentor-top" _v-334eddb1=""><p _v-334eddb1="">导师采访</p>-->
                    <!--<p _v-334eddb1="">资深大牛, 低调认真负责</p></div>-->
                <!--<div class="mentor-content" _v-334eddb1=""> &lt;!&ndash;v-for-start&ndash;&gt;&lt;!&ndash;v-for-end&ndash;&gt; </div>-->
            <!--</div>-->
            <!--<div class="mentor-module" _v-334eddb1="" key="1" style="display: none;">-->
                <!--<div class="mentor-top" _v-334eddb1=""><p _v-334eddb1="">日常1V1辅导</p>-->
                    <!--<p _v-334eddb1="">视频考核、批改作业、督促学习</p></div>-->
                <!--<div class="mentor-content" _v-334eddb1=""> &lt;!&ndash;v-for-start&ndash;&gt;&lt;!&ndash;v-for-end&ndash;&gt; </div>-->
            <!--</div>-->
            <!--<div class="mentor-module" _v-334eddb1="" key="2" style="display: none;">-->
                <!--<div class="mentor-top" _v-334eddb1=""><p _v-334eddb1="">直播答疑</p>-->
                    <!--<p _v-334eddb1="">定期直播答疑, 为大家牌忧解虑</p></div>-->
                <!--<div class="mentor-content" _v-334eddb1=""> &lt;!&ndash;v-for-start&ndash;&gt;&lt;!&ndash;v-for-end&ndash;&gt; </div>-->
            <!--</div>&lt;!&ndash;v-for-end&ndash;&gt; </div>-->
    <!--</div>-->
    <!--<div class="onlymentor" _v-334eddb1=""><p class="title" _v-334eddb1="">1V1导师</p>-->
        <!--<div class="onlymentor-list" _v-334eddb1=""> &lt;!&ndash;v-for-start&ndash;&gt;-->
            <!--<div class="onlymentor-module" _v-334eddb1="" key="0">-->
                <!--<div class="onlymentor-top" _v-334eddb1="">-->
                    <!--<img alt="" _v-334eddb1="" src="//hcdn1.luffycity.com/static/frontend/degree_course_detail/libisheng_1508405136.8277516.png">-->
                    <!--<p _v-334eddb1=""><span _v-334eddb1="">李必胜</span> <span _v-334eddb1="">路飞学院导师</span></p></div>-->
                <!--<p class="text" _v-334eddb1="">多年IT行业工作经验。曾先后在多家大型金融公司担任数据库管理员, 运维开发工程师。Oracle OCP,-->
                    <!--丰富的SQL语句优化和数据库线上故障处理经验。熟练使用Python编程,-->
                    <!--有丰富的Python自动化运维项目经验及web开发经验。熟读bottle框架源码，深入了解ORM实现原理并用100行代码实现简单版ORM框架</p>-->
            <!--</div>-->
            <!--&lt;!&ndash;v-for-end&ndash;&gt;-->
        <!--</div>-->
    <!--</div> &lt;!&ndash;v-if&ndash;&gt; -->
</div>