.deal-wrap[_v-0053c4b0] {
    text-align: center;
    margin-bottom: 100px
}

img[_v-0053c4b0] {
    margin-top: 100px
}

.null[_v-0053c4b0] {
    font-size: 20px;
    color: #c5c2c2;
    letter-spacing: .32px;
    display: block;
    margin-top: 90px;
    margin-bottom: 200px
}

.help-text[_v-0053c4b0] {
    display: block;
    font-size: 15px;
    margin-top: 30px
}