.course_introduction[_v-3ec27500] {
    width: 100%;
    height: auto;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.center[_v-3ec27500], .course_introduction[_v-3ec27500] {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.center[_v-3ec27500] {
    float: right;
    width: 112px;
    color: #9b9b9b
}

.play[_v-3ec27500] {
    width: 20px;
    height: 20px;
    margin-right: 16px
}

.course[_v-3ec27500] {
    width: 492px;
    margin-left: 30px
}

.study-course-item[_v-3ec27500]:hover {
    background: #f5f7f9
}

.progress-line[_v-3ec27500] {
    background: #84cc39;
    height: 8px;
    display: block
}

.lesson-download[_v-3ec27500] {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAMAAAAMCGV4AAAAUVBMVEUAAABnZ2dpaWlnZ2dmZmZmZmZnZ2doaGhoaGhubm5mZmZmZmZnZ2dnZ2dnZ2dnZ2dnZ2dra2tmZmZnZ2dmZmZmZmZmZmZpaWlmZmZmZmZmZmYwrrtBAAAAG3RSTlMA/Rvf99GXTiwM8eh+NaBrOxPFvaiIY0aOdVrPYbaTAAAAdklEQVQI10WMWQ7DIAxEDQazhiVr2/sftMFywvuwZ6TRA+a3Rtw9POzp2xyZU2pGPd5leOHQXMBQuU8zNcjOpTttGR46Jg9x4Vz5lg3QcVKsXCIcNsxeLYQVs/ROZozPAyirTwFNTcw+KfEK3r6168lQWzWx8Af01gO5T1Ca9AAAAABJRU5ErkJggg==) no-repeat 0 3px;
    background-size: 15px 15px
}

.lesson-test[_v-3ec27500] {
    margin-left: 40px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQCAMAAAAs2N9uAAAATlBMVEUAAABmZmZmZmZxcXFtbW1mZmZnZ2doaGhoaGhnZ2dmZmZmZmZmZmZnZ2dnZ2dnZ2dnZ2dpaWlqampqampmZmZmZmZmZmZmZmZmZmZmZmYtt8+FAAAAGnRSTlMA4XcKFc6pViq2nYdtY8ZLQzIiG/7069W8fiJ38PQAAACPSURBVBjTZc1HDsQgEETRggZMdI73v+hUW+OF5b/p0pMQKEbzVcpxrwbs0JbeBNExe8DgLm4UJkFp6LrOiUHknQClaq2dSSPvgOieh/K/rnmSY0riBDjNQgoppUiqqeBaM94Px/WQN8m1RSid3vuJZHPMC+XzY/iSJxXLBlLTkQMwW61Pex90VIensU3P/AG/owR2mHXkvQAAAABJRU5ErkJggg==) no-repeat 0 3px;
    background-size: 18px 16px
}

.course-wrap[_v-3ec27500] {
    width: 100%;
    height: 50px;
    cursor: pointer;
    border-bottom: 1px solid #f2f2f2;
    background: #fff;
    padding: 0 7px 0 30px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.course-wrap[_v-3ec27500]:hover {
    background: #f5f7f9
}

.top-text[_v-3ec27500] {
    font-size: 12px;
    color: #333;
    display: inline-block
}

.pay-time[_v-3ec27500] {
    margin-left: 28px
}

.arc-time[_v-3ec27500] {
    font-size: 13px;
    color: #9b9b9b;
    letter-spacing: .28px
}

.click-share-type[_v-3ec27500] {
    display: inline-block;
    margin-left: 12px
}

.go-on-study[_v-3ec27500] {
    font-size: 12px;
    color: #7ed321;
    letter-spacing: .19px;
    display: inline-block;
    margin-top: 118px;
    margin-left: 93px
}

.study-micro-head-mid > a[_v-3ec27500] {
    font-size: 12px;
    color: #4a90e2;
    display: block;
    margin-top: 7px
}

.study-course-item[_v-3ec27500] {
    padding: 30px 0;
    border-bottom: 1px solid #ededed;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer
}

.study-course-item-tit[_v-3ec27500] {
    font-size: 20px;
    color: #414a60;
    letter-spacing: .32px;
    margin: 0
}

.study-progress[_v-3ec27500] {
    font-size: 14px;
    height: 20px;
    width: 100%;
    color: #666;
    letter-spacing: .22px;
    margin-top: 24px
}

.download-text[_v-3ec27500] {
    font-size: 12px;
    color: #5e5e5e;
    letter-spacing: .19px;
    display: inline-block;
    margin-left: 10px
}

.progress-value[_v-3ec27500] {
    font-size: 12px;
    color: #4a4a4a;
    letter-spacing: .19px;
    display: inline-block;
    margin-left: 14px
}

.pay-time[_v-3ec27500] {
    font-size: 14px;
    color: #666;
    letter-spacing: .22px;
    margin-left: 20px;
    display: inline-block
}

.study-micro-cec-tit[_v-3ec27500] {
    font-size: 20px;
    color: #414a60;
    letter-spacing: .32px;
    margin: 0
}

.study-micro-sec-look-all[_v-3ec27500] {
    font-size: 12px;
    color: #666;
    letter-spacing: .19px;
    display: inline-block;
    margin-right: 13px
}

.study-micro-sec-course-tit[_v-3ec27500] {
    font-size: 18px;
    color: #666;
    margin: 0
}

.study-micro-sec-course-sum-time[_v-3ec27500] {
    font-size: 16px;
    color: #9b9b9b;
    letter-spacing: .25px;
    display: inline-block;
    margin-right: 24px;
    margin-top: 18px
}

.study-section-wrap[_v-3ec27500] {
    width: 100%;
    height: 80px;
    display: -ms-flexbox;
    display: flex;
    padding: 0 22px 0 29px;
    -ms-flex-align: center;
    align-items: center;
    background: #fafafa;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #e8e8e8;
    cursor: pointer
}

.no-border-bottom[_v-3ec27500] {
    border-bottom: none !important
}